<div class="radar">
	<app-view-header-slim section="Health Radar" i18n-section>
		<ng-container *ngIf="folders">
			<div *ngIf="!searching" class="buttons">
				<button class="button-primary" (click)="start()"><i class="icon-play"></i> <ng-container i18n>Next</ng-container></button>
				<button *ngIf="current" class="button-on-control" (click)="refresh(current.pos, false)"><i class="icon-reload"></i> <ng-container i18n>Refresh</ng-container></button>
				<button i18n *ngIf="current && current.health && current.health.length>0" class="button-on-control" (click)="fixAll()">Fix all fixable</button>
			</div>
			<div *ngIf="searching" class="buttons">
				<button class="button-on-control" (click)="stop()"><i class="icon-stop"></i> Stop</button>
			</div>
		</ng-container>
	</app-view-header-slim>

	<div class="content">
		<app-loading *ngIf="!folders"></app-loading>
		<div *ngIf="folders && current">
			<div class="current">
				<span><i *ngIf="searching" class="icon-spin icon-spinner"></i></span>
				<span>{{current.pos + 1}} / {{folders.length}}</span>
				<a [routerLink]="['/admin/folder', current.folder.id, 'tags']"><i class="icon-folder"></i> {{current.folder.name}}</a>
			</div>

			<ng-container *ngIf="current.health">
				<div *ngFor="let trackHealth of current.health; trackBy: trackByFn" class="track">
					<div class="meta">
						{{trackHealth.track.name}}
					</div>
					<div class="track-health">
						<app-track-health [trackHealth]="trackHealth" (resolvedEvent)="trackHealthResolved(trackHealth)"></app-track-health>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
