@import "globals.scss";

:host {
	display: flex;
	flex-flow: column wrap;
	margin-bottom: $margin;
	height: 100%;

	.navigation {
		padding: $padding;
		flex-grow: 1;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: var(--control);
		color: var(--on-control);
	}
}
