<app-background-text-list name="Roots" [list]="roots"></app-background-text-list>
<table *ngIf="roots && roots.length>0" class="roots" appFocusKeyList>
	<tr class="root heading">
		<td class="title">Name</td>
		<td class="path">Path</td>
		<td class="strategy">Strategy</td>
		<td class="status">Status</td>
		<td class="actions">Actions</td>
	</tr>
	<tr *ngFor="let root of roots; trackBy: trackByFn" class="root" appFocusKeyListItem (dblclick)="editRoot(root)" (keydown.enter)="editRoot(root)">
		<td class="title">{{root.name}}</td>
		<td class="path">{{root.path}}</td>
		<td class="strategy">{{root.strategy}}</td>
		<td class="status">
			<span *ngIf="!root.status">Not scanned</span>
			<span *ngIf="root.status && root.status.error" class="error">Error:<br>{{root.status.error}}</span>
			<span *ngIf="root.status && !root.status.error">
						<ng-container *ngIf="root.status.scanning">Working…</ng-container>
						<ng-container *ngIf="!root.status.scanning">Last Change:<br>{{root.status.lastScan | date:'medium'}}</ng-container>
					</span>
		</td>
		<td class="actions">
			<div class="action-buttons">
				<button title="Rescan Root" appClickStop (click)="refreshRoot(root)"><i class="icon-rescan" aria-hidden="true"></i></button>
				<button title="Refresh Root Meta" appClickStop (click)="refreshRootMeta(root)"><i class="icon-broom" aria-hidden="true"></i></button>
				<button title="Edit Root" appClickStop (click)="editRoot(root)"><i class="icon-edit" aria-hidden="true"></i></button>
				<button title="Delete Root" appClickStop (click)="deleteRoot(root)"><i class="icon-remove" aria-hidden="true"></i></button>
			</div>
		</td>
	</tr>
</table>
