@import "globals.scss";

:host {
	width: 100%;
	overflow: auto;
	display: block;

	.roots {
		padding: $padding;
		font-size: 0.9em;
		width: 100%;
	}

	.root {
		height: 60px;
		td {
			padding: $padding-xs $padding-sm;
		}

		border-bottom: 1px solid var(--control-border);

		&:hover {
			background-color: var(--background-hover);
		}

		&.selected {
			background-color: var(--background-active);
		}
	}

	.error {
		color: var(--accent);
	}

	.heading {
		height: 40px;
		font-size: 0.9em;
	}

	.actions {
		a {
			margin-right: $margin-xs;
		}
	}
}
