@use "_scss/mixins/slider";

:host {
	width: 100%;
	@include slider.slider(3px, 3px);

	.slider {
		.back {
			background-color: var(--primary)
		}
		.scrubber.line {
			top: -1px;
			background-color: var(--control-border)
		}
	}
}
