<div class="radar">
	<div class="toolbar">
		<span>Health Radar</span>
	</div>

	<div class="content">
		<app-loading *ngIf="!folders"></app-loading>
		<div *ngIf="folders">

			<div class="action">
				<div class="buttons" *ngIf="!searching">
					<button class="button-primary" (click)="start()"><i class="icon-play"></i> Next</button>
					<button *ngIf="current" class="button-on-control" (click)="refresh(current.pos, false)"><i class="icon-reload"></i> Refresh</button>
					<button *ngIf="current && current.health && current.health.length>0" class="button-on-control" (click)="fixAll()">Fix all fixable</button>
				</div>
				<div class="buttons" *ngIf="searching">
					<button class="button-on-control" (click)="stop()"><i class="icon-stop"></i> Stop</button>
					<button class="button-on-control"><i class="icon-spin icon-spinner"></i></button>
				</div>
			</div>

			<ng-container *ngIf="current">
				<div class="current">
					<span *ngIf="current">{{current.pos + 1}} / {{folders.length}}</span>
					<a [routerLink]="['/admin/folder/'+current.folder.id+'/tags']"><i class="icon-folder"></i> {{current.folder.name}}</a>
				</div>

				<ng-container *ngIf="current && current.health">
					<div *ngFor="let trackHealth of current.health; trackBy: trackByFn" class="track">
						<div class="meta">
							{{trackHealth.track.name}}
						</div>
						<div class="track-health">
							<app-track-health [trackHealth]="trackHealth" (resolvedEvent)="trackHealthResolved(trackHealth)"></app-track-health>
						</div>
					</div>
				</ng-container>
			</ng-container>

		</div>
	</div>
</div>
