<label>
	<input type="checkbox" [(ngModel)]="maintainAspectRatio" [checked]="maintainAspectRatio"> Maintain Aspect Ratio
</label>
<div class="drop-zone" (drop)="onDropFile($event)" (dragover)="onDragOverFile($event)">
	<image-cropper *ngIf="currentPic" [maintainAspectRatio]="maintainAspectRatio" [imageBase64]="currentPic.base64" (imageCropped)="imageCropped($event)"></image-cropper>
	<!--	(imageLoaded)="imageLoaded()"-->
	<!--	(cropperReady)="cropperReady()"-->
	<!--	(loadImageFailed)="loadImageFailed()"-->
	<form>
		<input type="file" (change)="selectFile($event)" placeholder="Upload image" accept=".png,.jpeg,.jpg">
	</form>
</div>
