<div class="about">
	<div class="header slim">
		<div class="info">
			<div class="meta">
				<div class="type">{{app.name}}</div>
				<div class="name">About</div>
				<div class="actions"></div>
			</div>
		</div>
	</div>
	<div class="content">
		<div>
			<div class="section-title">Jamberry</div>
			<div class="key-value-row">
				<div>Version</div>
				<div><a href="https://github.com/ffalt/jamberry/" target="_blank" rel="noopener">{{app.version}}</a></div>
			</div>
			<div class="key-value-row">
				<div>Licence</div>
				<div><a href="https://github.com/ffalt/jamberry/blob/master/LICENSE" target="_blank" rel="noopener">MIT</a></div>
			</div>
			<div class="key-value-row">
				<div>Report Issues</div>
				<div><a href="https://github.com/ffalt/jamberry/issues" target="_blank" rel="noopener">github</a></div>
			</div>
		</div>
		<div>
			<div class="section-title">Thanks</div>
			<div class="key-value-row">
				<div>Icons</div>
				<div><a href="http://fontello.com/" target="_blank" rel="noopener">fontello</a></div>
			</div>
			<div class="key-value-row">
				<div>Logo Icon</div>
				<div><a href="http://www.flaticon.com/free-icon/strawberry-with-heart-shape_33090" target="_blank" rel="noopener">freepik</a></div>
			</div>
			<div class="key-value-row">
				<div>Audio Library</div>
				<div><a href="http://www.schillmania.com/projects/soundmanager2/" target="_blank" rel="noopener">soundmanager2</a></div>
			</div>
			<div class="key-value-row">
				<div>Platform</div>
				<div><a href="https://angular.io/" target="_blank" rel="noopener">angular {{VERSION.full}}</a></div>
			</div>
		</div>
		<div>
			<div class="section-title">Your Browser</div>
			<div class="key-value-row">
				<div>Supported Audio Formats</div>
				<div><span *ngFor="let format of player.audioSupport.formats">{{format}}</span></div>
			</div>
		</div>
		<div *ngIf="auth.auth">
			<div class="section-title">Server</div>
			<div class="key-value-row">
				<div>Location</div>
				<div><a [title]="auth.auth.server" target="_blank" [href]="auth.auth.server">{{auth.auth.server}}</a></div>
			</div>
			<div class="key-value-row">
				<div *ngIf="auth.auth.version">Jamserver API</div>
				<div>{{auth.auth.version}}</div>
			</div>
		</div>
		<div>
			<div class="section-title">Keyboard Shortcuts</div>
			<div class="key-value-row" *ngFor="let kcmd of keyCmds">
				<div>{{kcmd.desc}}</div>
				<div>{{kcmd.name}}</div>
			</div>
		</div>
	</div>
</div>

