@import "globals.scss";

:host {
	.about {
		@include view-host();

		app-view-header-slim {
			padding-left: $padding-xl;
			padding-right: $padding-xl;
		}

		.content {
			@include view-content();
			padding: 0 $padding-xl $padding-xl;

			@media (max-width: $break-phone) {
				padding-left: $padding;
				padding-right: $padding;
			}

			@include key-value-list();
		}
	}

}
