<div class="image-selector">
	<div class="art-source">
		<div class="section">
			<a [href]="searchSource.url" rel="noopener" target="_blank">{{searchSource.name}}</a>
		</div>
		<app-loading *ngIf="!nodes"></app-loading>
		<div *ngIf="nodes">
			<app-background-text-list [list]="nodes" name="Images"></app-background-text-list>
			<div class="images" appFocusKeyList>
				<div *ngFor="let node of nodes; trackBy: trackByFn" (keydown.enter)="node.checked=!node.checked" appFocusKeyListItem>
					<div class="image" (clickenter)="node.checked=!node.checked">
						<img alt="{{node.name}}" [src]="node.thumbnail">
					</div>
					<div class="footer">
						<div class="footer-content">
							<label>
								<i *ngIf="node.storing" class="icon-spin icon-spinner"></i>
								<input *ngIf="!node.storing" type="checkbox" [(ngModel)]="node.checked" [checked]="node.checked"> {{node.name}}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="artwork">
		<div class="current" *ngIf="data && artworks">
			<div class="section">Current Images</div>
			<app-admin-artwork-list *ngIf="!isArtRefreshing" [folderID]="data.folder.id" [artworks]="artworks"></app-admin-artwork-list>
		</div>
	</div>
</div>
<div class="buttons">
	<div *ngIf="nodes && nodes.length>0">
		<button class="button-on-control" *ngIf="isWorking"><i class="icon-spin icon-spinner"></i></button>
		<button class="button-on-control" *ngIf="!isWorking" (click)="use()">Use Checked Artwork</button>
	</div>
</div>
