<div class="image-selector">
	<div class="art-source">
		<div class="section">
			<a rel="noopener" target="_blank" [href]="searchSource.url">{{searchSource.name}}</a>
		</div>
		<app-loading *ngIf="!nodes"></app-loading>
		<div *ngIf="nodes">
			<app-background-text-list name="Images" [list]="nodes"></app-background-text-list>
			<div class="images" appFocusKeyList>
				<div *ngFor="let node of nodes; trackBy: trackByFn" appFocusKeyListItem (keydown.enter)="node.checked=!node.checked">
					<div class="image" (clickenter)="node.checked=!node.checked">
						<img alt="{{node.name}}" [src]="node.thumbnail">
					</div>
					<div class="footer">
						<div class="footer-content">
							<form><label>
								<i *ngIf="node.storing" class="icon-spin icon-spinner"></i>
								<input *ngIf="!node.storing" type="checkbox" [checked]="node.checked" [(ngModel)]="node.checked"> {{node.name}}
							</label></form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="artwork">
		<div *ngIf="data && artworks" class="current">
			<div i18n class="section">Current Images</div>
			<app-admin-artwork-list *ngIf="!isArtRefreshing" [folderID]="data.folder.id" [artworks]="artworks"></app-admin-artwork-list>
		</div>
	</div>
</div>
<div class="buttons">
	<div *ngIf="nodes && nodes.length>0">
		<button *ngIf="isWorking" class="button-on-control"><i class="icon-spin icon-spinner"></i></button>
		<button i18n *ngIf="!isWorking" class="button-on-control" (click)="use()">Use Checked Artwork</button>
	</div>
</div>
