@import "globals.scss";

:host {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	outline: none;

	&:focus {
		background-color: var(--control-box);
		color: var(--on-control-ambient-hover);
	}
}
