@import "globals.scss";

:host {
	.album-cards {
		@include media-cards();
	}

	.group {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: var(--background-border);
		text-transform: uppercase;
		letter-spacing: 1.25px;
		font-size: $x-small * 1.2;
		padding-top: $margin-lg;
		padding-bottom: $margin-sm;
		color: var(--on-control-ambient);
		min-height: 30px;

		&:first-of-type {
			padding-top: $margin-sm;
			margin-top: -40px;
		}
	}
}
