@use "_scss/variables";

:host {
	display: block;
	padding: variables.$padding-xs;
	font-size: variables.$x-small;
	background-color: var(--control-box);
	color: var(--on-control);
	text-transform: uppercase;
	letter-spacing: 1px;
}
