@use "_scss/variables";

:host {
	background-color: var(--background);
	color: var(--on-background);

	.player {
		width: 100%;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: var(--control-border);

		padding: variables.$padding variables.$padding variables.$padding-sm;
		display: flex;
		flex-flow: row wrap;
		align-items: center;

		background-color: var(--control);
		color: var(--on-control-ambient);

		button {
			color: var(--on-control-ambient);
			cursor: pointer;
			border: 1px solid transparent;

			&.active {
				color: var(--on-background-highlight);
				border: 1px solid var(--control-active);
			}

			&:hover {
				color: var(--on-control-ambient-hover);
			}

			&:disabled {
				color: var(--on-control-ambient-disabled);
				cursor: default;
			}
		}

		.actions {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			button {
				font-size: variables.$x-large;
			}

			.play {
				font-size: variables.$xx-large;
			}
		}

		.progress {
			flex: 1;
			padding: 0 variables.$padding;
			font-size: variables.$x-small;

			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
			color: var(--on-control-ambient);

			.start, .finish {
				min-width: 30px;
			}

			.bar {
				width: 100%;
				padding-left: 12px;
				padding-right: 12px;
			}
		}

		.options {
			display: flex;

			.player-controls {
				width: auto;
				margin-right: variables.$margin;
				text-align: right;
				flex: 1;
				flex-wrap: nowrap;
				white-space: nowrap;
				display: flex;
				justify-items: center;
				align-items: center;
			}

			.player-control {
				margin-right: variables.$padding-xs;
				font-size: 1.5em;
				border-radius: 2px;
				line-height: 1.5em;

				&.button-queue {
					display: none;
				}
			}

			app-volume-slider, app-speed-slider {
				display: block;
				flex: 1;
				min-width: 70px;
				margin-right: variables.$padding-xs;
			}

			.volume {
				flex: 1 1 auto;
				display: flex;
				flex-flow: column wrap;
				align-items: center;
				max-width: 200px;
				margin-top: 2px;

				> div {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					width: 100%;
				}

				i {
					color: var(--on-control-ambient);
					font-size: 1.5em;
					display: block;

					&:hover {
						color: var(--on-control-ambient-hover);
					}
				}


			}

		}

		@media (max-width:variables.$break-desktop-large) {

			.options {
				.player-control.button-queue {
					display: inline;
				}
			}
		}

		@media (max-width: variables.$break-notebook) {

			.options {
				padding-left: variables.$padding;
			}

		}

		@media (max-width: variables.$break-pad) {

			.actions {
				width: 25%;
			}

			.progress {
				width: 75%;
			}

			.options {
				width: 100%;
				padding-left: 0;
				flex: none;

				.player-slider-controls {
					flex: 1;
				}

				> .player-controls {
					flex: inherit;
				}
			}

			.action {
				padding-top: variables.$padding;
			}

		}

		@media (max-width: variables.$break-phone) {

			.actions {
				width: 100%;
				justify-content: space-around;
				padding: variables.$padding-xs 0;
			}

			.progress {
				width: 100%;
				padding: variables.$padding-xs 0;
			}

			.options {
				padding: variables.$padding-xs 0;
			}

		}

	}

	@media (max-width: variables.$break-phone) {
		border-top: 1px solid var(--background-border);

		.player {
			border-top: 1px solid var(--control-box-border);

			.progress {
				margin-top: variables.$margin-sm;
			}

			.options {
				.player-control.button-queue, .player-control.button-info {
					display: none;
				}
			}

		}

	}

}
