<section class="player" role="status">
	<div class="actions">
		<button (click)="player.previous()" [disabled]="!queue.hasPrevious" [title]="'Previous Track ('+HOTKEYS.previousTrack.shortcut+')'"><i class="icon-fast-backward" aria-hidden="true"></i></button>
		<button [disabled]="queue.isEmpty" class="play" (click)="togglePlayPause()"
						[title]="player.isPlaying | stringToggle : 'Pause' : 'Play' : HOTKEYS.playPause.shortcut"><i [class]="player.isPlaying | stringToggle : 'icon-pause' : 'icon-play'" aria-hidden="true"></i></button>
		<button (click)="player.next()" [disabled]="!queue.hasNext" [title]="'Next Track ('+HOTKEYS.nextTrack.shortcut+')'"><i class="icon-fast-forward" aria-hidden="true"></i></button>
	</div>

	<div class="progress">
		<div class="start">{{player.currentTime | mediaduration}}</div>
		<div class="bar">
			<app-time-slider></app-time-slider>
		</div>
		<div class="finish">{{player.totalTime | mediaduration}}</div>
	</div>

	<div class="options">
		<div class="player-slider-controls">
			<div class="player-controls">
				<button class="player-control" [title]="player.isMuted | stringToggle : 'Unmute' : 'Mute'" (click)="player.unmute()">
					<i [class]="player.isMuted | stringToggle : 'icon-volume-off' : 'icon-volume-up'" aria-hidden="true"></i></button>
				<app-volume-slider title="Volume"></app-volume-slider>
			</div>
			<div class="player-controls" *ngIf="showSpeed">
				<button class="player-control" title="Reset Speed" (click)="player.speed(1)"><i class="icon-speed" aria-hidden="true"></i></button>
				<app-speed-slider></app-speed-slider>
			</div>
		</div>
		<div class="player-controls">
			<button class="player-control" [title]="player.repeatTrack | stringToggle:'Stop repeating current track':'Repeat current track'" (click)="toggleRepeat()" [class.active]="player.repeatTrack">
				<i class="icon-loop" aria-hidden="true"></i>
			</button>
			<button class="player-control" [title]="showSpeed | stringToggle:'Hide Playback Speed Control' :'Show Playback Speed Control'" (click)="showSpeed=!showSpeed" [class.active]="showSpeed">
				<i class="icon-speed" aria-hidden="true"></i>
			</button>
			<button class="player-control button-info" (click)="tabService.clickInfo()" [title]="tabService.infoTab.active | stringToggle:'Hide Play Info' :'Show Play Info'" [class.active]="tabService.infoTab.active">
				<i class="icon-info" aria-hidden="true"></i>
			</button>
			<button class="player-control button-queue" (click)="tabService.clickQueue()" [title]="tabService.queueTab.active | stringToggle: 'Hide Play Queue':'Show Play Queue'" [class.active]="tabService.queueTab.active">
				<i class="icon-queue" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</section>
