@use "_scss/variables";

:host {
	flex-direction: column;

	button {
		font-size: variables.$x-large;
		color: var(--on-control-ambient);
		border-radius: 5px;
		padding: variables.$padding-xs;

		&.play {
			font-size: variables.$xx-large;
			padding: 0;
		}

		&:hover {
			color: var(--on-control-ambient-hover);
		}

		&.active {
			color: var(--on-control-active);
			background-color: var(--control-active);
		}

		&:disabled {
			color: var(--on-control-ambient-disabled);
			cursor: default;
			background-color: transparent;
		}
	}

	app-mini-time-slider {
		margin-top: 1px;
		&.hidden {
			visibility: hidden;
		}
	}

	.buttons {
		display: flex;
		flex-direction: row;
		padding-top: 4px;
		padding-left: variables.$padding;
		padding-right: variables.$padding;

		> div {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: center;
		}

		.actions {
			flex: 1;
		}

		.art {
			width: 45px;
			min-width: 45px;

			app-coverart-image {
				display: block;
				min-height: 35px;
				max-height: 35px;
				min-width: 35px;
				max-width: 35px;
			}
		}
	}
}
