<app-mini-time-slider [class.hidden]="tabService.playerTab.active"></app-mini-time-slider>
<div class="buttons">
	<div>
		<button class="art" (click)="tabService.clickPlayer()" [class.active]="tabService.playerTab.active">
			<div>
				<app-coverart-image *ngIf="player.currentMedia" [coverArtObj]="player.currentMedia" [size]="50" alt="Album Art" [fill]="true"></app-coverart-image>
			</div>
			<i class="icon-info" *ngIf="!player.currentMedia" aria-hidden="true"></i>
		</button>
	</div>
	<div class="actions">
		<button (click)="player.previous()" [disabled]="!queue.hasPrevious" title="Previous Track"><i class="icon-fast-backward" aria-hidden="true"></i></button>
		<button class="play" (click)="togglePlayPause()" [title]="player.isPlaying | stringToggle : 'Pause' : 'Play'"><i [class]="player.isPlaying | stringToggle : 'icon-pause' : 'icon-play'" aria-hidden="true"></i></button>
		<button (click)="player.next()" [disabled]="!queue.hasNext" title="Next Track"><i class="icon-fast-forward" aria-hidden="true"></i></button>
	</div>
	<div>
		<button (click)="tabService.clickQueue()" [class.active]="tabService.queueTab.active"><i class="icon-queue" aria-hidden="true"></i></button>
	</div>
</div>
