@import "globals.scss";

:host {
	width: 100%;
	height: 100%;

	.input-group {
		width: 100%;
		height: 100%;
		text-align: left;

		textarea {
			background-color: var(--control);
			color: var(--on-control);
			border: 0;
			min-width: 240px;
			width: 100%;
			height: 100%;
			resize: none;

			&:focus {
				background-color: var(--control-box);
				color: var(--on-control-ambient-hover);
			}
		}
	}

}
