@import "src/style/globals";

:host {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;

	.actions {
		@include action-buttons();
	}

	.folder {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		.content {
			overflow-y: auto;
			display: flex;
			flex-direction: column;

			.properties {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				padding: $padding;

				& > div {
					flex: 0 0 50%;

					@media (max-width: $break-phone) {
						flex: 0 0 100%;
					}

					& > div {
						padding-top: $padding-xs;
						padding-bottom: $padding-xs;

						> div {
							color: var(--on-background-highlight);

							a {
								color: var(--on-background-highlight);

								&:hover {
									color: var(--on-background);
								}
							}
						}

						.label {
							color: var(--on-background);
							font-size: 0.7em;
							text-transform: uppercase;
							padding-bottom: 2px;
						}


					}
				}
			}

			.artworks {
				border-top: 1px solid var(--background-border);

				.artworks-content {
					padding: 0 $padding $padding;
				}
			}
		}
	}
}
