<app-loading *ngIf="!folder"></app-loading>
<div *ngIf="folder" class="folder">
	<div class="actions">
		<button class="button-on-control" title="Refresh" (click)="refresh()" ><i class="icon-reload"></i></button>
		<button class="button-on-control" title="Move Folder…" (click)="moveFolder()"><i class="icon-right-bold"></i></button>
		<button class="button-on-control" title="Remove Folder…" (click)="removeFolder()"><i class="icon-trash"></i></button>
	</div>
	<div class="content">
		<app-info-note *ngIf="folder.info?.description" [info]="folder.info"></app-info-note>
		<div class="properties">
			<div>
				<div>
					<div class="label">Name</div>
					<div>
						<app-inline-edit type="text" [(ngModel)]="name" (endEditRequest)="editFolderName()"></app-inline-edit>
					</div>
				</div>
				<div>
					<div class="label">Type</div>
					<div>{{folder.type}}
						<ng-container *ngIf="isAlbum"> / {{folder.tag?.albumType}}</ng-container>
					</div>
				</div>
				<div>
					<div class="label">Track Count</div>
					<div>{{folder.trackCount}}</div>
				</div>
				<div>
					<div class="label">Folder Count</div>
					<div>{{folder.folderCount}}</div>
				</div>
				<div *ngIf="folder.tag?.artist">
					<div class="label">Artist</div>
					<div>{{folder.tag?.artist}}</div>
				</div>
				<div *ngIf="folder.tag?.album">
					<div class="label">Album</div>
					<div>{{folder.tag?.album}}</div>
				</div>
			</div>
			<div>
				<div *ngIf="folder.tag?.year">
					<div class="label">Year</div>
					<div> {{folder.tag?.year}}</div>
				</div>
				<div *ngIf="folder.tag?.genres?.length">
					<div class="label">Genres</div>
					<div> {{folder.tag?.genres}}</div>
				</div>
				<div *ngIf="folder.tag?.mbReleaseID">
					<div class="label">MB Release Id</div>
					<div><a target="_blank" rel="noopener" href="https://musicbrainz.org/release/{{folder.tag?.mbReleaseID}}">{{folder.tag?.mbReleaseID}}</a></div>
				</div>
				<div *ngIf="folder.tag?.mbArtistID">
					<div class="label">MB Artist Id</div>
					<div><a target="_blank" rel="noopener" href="https://musicbrainz.org/artist/{{folder.tag?.mbArtistID}}">{{folder.tag?.mbArtistID}}</a></div>
				</div>
				<div *ngIf="folder.parentID">
					<div class="label">Parent Folder Id</div>
					<div><a [routerLink]="['/admin/folder',folder.parentID]">{{folder.parentID}}</a></div>
				</div>
			</div>
		</div>
		<div class="artworks">
			<div class="actions">
				<button class="button-on-control" (click)="uploadImage()"><i class="icon-upload-cloud"></i> Upload Artwork</button>
				<button *ngIf="isAlbum && folder.tag &&  (folder.tag.mbReleaseID || folder.tag.mbReleaseGroupID)" class="button-on-control"
								title="Album Images" (click)="searchImages()"><i class="icon-picture"></i> Search Artwork
				</button>
				<button *ngIf="isArtist && folder.tag && folder.tag.mbArtistID" class="button-on-control" title="Artist Images" (click)="searchImages()"><i class="icon-picture"></i> Search Art</button>
			</div>
			<div *ngIf="folder.artworks && folder.artworks.length>0" class="artworks-content">
				<app-admin-artwork-list [folderID]="folder.id" [artworks]="folder.artworks"></app-admin-artwork-list>
			</div>
		</div>
	</div>
</div>
