<app-background-text-list name="Tracks" [list]="tracks"></app-background-text-list>
<table *ngIf="tracks && tracks.length>0" class="tracks">
	<tr class="track heading">
		<td class="number">Track Nr.</td>
		<td class="title">Title</td>
		<td class="artist">Artist</td>
		<td class="album">Album</td>
		<td class="format">Format</td>
		<td class="bitrate">BitRate</td>
		<td class="samplerate">SampleRate</td>
		<td class="duration">Duration</td>
	</tr>
	<tr *ngFor="let trackItem of trackItems" class="track" [class.selected]="trackItem.selected" (click)="trackItem.selected=!trackItem.selected">
		<td class="number">{{trackItem.track.tag?.trackNr}}</td>
		<td class="title">{{trackItem.track.tag?.title}}</td>
		<td class="artist">{{trackItem.track.tag?.artist}}</td>
		<td class="album">{{trackItem.track.tag?.album}}</td>
		<td class="format">{{trackItem.track.media?.format}}</td>
		<td class="bitrate">{{trackItem.track.media?.bitRate}}</td>
		<td class="samplerate">{{trackItem.track.media?.sampleRate}}</td>
		<td class="duration">{{trackItem.track.duration | duration}}</td>
	</tr>
</table>
