@import "globals.scss";

:host {
	width: 100%;
	overflow: auto;
	display: block;

	.tracks {
		padding: $padding;
		font-size: 0.8em;
		width: 100%;
	}

	.heading {
		font-size: 0.9em;
	}

	.track {
		td {
			padding: $padding-xs $padding-sm;
		}
		border-bottom: 1px solid var(--control-border);

		&:hover {
			background-color: var(--background-hover);
		}

		&.selected {
			background-color: var(--background-active);
		}
	}

}
