@use "_scss/variables";

:host {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.actions {
		padding: variables.$padding-sm variables.$padding;
		padding-top: variables.$padding;
		background-color: var(--background-transparent);
		color: var(--on-control);

		.name {
			padding-right: variables.$padding-sm;
			vertical-align: middle;
			color: var(--on-control-active);
			font-size: variables.$large;
			font-weight: 100;
		}
	}

	.tree {
		margin-top: variables.$margin-sm;
		flex: 1;
	}

	cdk-virtual-scroll-viewport {
		width: 100%;
		height: 100%;
		min-height: 100%;
		overflow-x: hidden;

		::ng-deep {
			.cdk-virtual-scroll-content-wrapper {
				width: 100%;
			}
		}
	}

	.node {
		width: 100%;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-decoration: none;
		vertical-align: middle;
		height: 22px;
		cursor: pointer;
		user-select: none;
		font-size: 0.9em;

		.node-toggle {
			display: inline-block;
			min-width: 20px;
		}

		.node-type {
			padding-left: variables.$padding-xs;
			font-size: 0.7em;
			text-transform: uppercase;
		}

		&.active {
			color: var(--on-control-hover);
		}
	}

}
