@import "globals.scss";

:host {
	width: 100%;
	height: 100%;
	display: block;

	.actions {
		padding: $padding-sm $padding;
		background-color: var(--background-transparent);
		color: var(--on-control);

		.name {
			padding-right: $padding-sm;
			vertical-align: middle;
			color: var(--on-control-active);
			font-size: $large;
			font-weight: 100;
		}
	}

	cdk-virtual-scroll-viewport {
		margin-top: $margin-sm;
		width: 100%;
		height: 100%;
		min-height: 100%;
		overflow-x: hidden;

		::ng-deep {
			.cdk-virtual-scroll-content-wrapper {
				width: 100%;
			}
		}
	}

	.node {
		width: 100%;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-decoration: none;
		vertical-align: middle;
		height: 22px;
		cursor: pointer;
		user-select: none;
		font-size: 0.9em;

		.node-toggle {
			display: inline-block;
			min-width: 20px;
		}

		&.collection {
			.node-icon {
				color: #adbced;
			}
		}

		&.album {
			.node-icon {
				color: #bdbd9c;
			}
		}

		&.artist {
			.node-icon {
				color: #6f806e;
			}
		}

		&.active {
			color: var(--on-control-hover);
		}
	}


}
