<div class="actions">
  <span i18n class="name">Folders</span>
  <button class="button-on-control" title="Refresh Folder Tree" i18n-title (click)="refresh()"><i class="icon-reload" aria-hidden="true"></i></button>
</div>
<div class="tree" appFocusKeyList>
  <cdk-virtual-scroll-viewport style="height: 100%" class="list-container list-group" [itemSize]="22">
    <ng-container *cdkVirtualFor="let node of nodes">
      <div class="node" appFocusKeyListItem [style.padding-left.px]="node.level*12" [class.active]="node===selected"
        (click)="selectNode(node)"
        (keydown.enter)="selectNode(node)"
        (keydown.arrowRight)="toggleNode(node)"
        (keydown.arrowLeft)="toggleNode(node)">
        <span title="Subfolders: {{node.folder.folderCount}}" class="node-toggle" (clickenter)="toggleNode(node)">
          @if (node.isLoading) {
            <i class="icon-spin icon-spinner"></i>
          }
          @if (!node.isLoading && node.hasChildren) {
            <i [class]="node.expanded | stringToggle:'icon-minus':'icon-plus'"></i>
          }
        </span>
        <span class="node-icon" [style.color]="node.color" [title]="node.folder.type" (clickenter)="toggleNode(node)">
          <i [class]="node.expanded | stringToggle:'icon-folder-open':'icon-folder'"></i>
        </span>
        <span [title]="node.folder.name">{{node.folder.name}}</span>
        <span class="node-type">| {{node.folder.type}}</span>
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</div>
