<ng-container *ngIf="editing">
	<app-autocomplete #autocomplete="appAutocomplete">
		<ng-template appAutocompleteContent let-control>
			<ng-container *ngFor="let option of control.options">
				<app-autocomplete-option-header *ngIf="option.header">{{option.header}}</app-autocomplete-option-header>
				<app-autocomplete-option [option]="option" [control]="control">{{option.data}}</app-autocomplete-option>
			</ng-container>
		</ng-template>
	</app-autocomplete>
	<input #editorInput type="text" autocomplete="off" [value]="value"
				 [appAutocomplete]="autocomplete" [appAutocompleteControl]="this" [appAutocompleteSettings]="{allowEmpty:true}" [(ngModel)]="value"
				 (blur)="onBlur()" (appAutocompleteNavigKeyDown)="onNavigKeyDown($event)"
	>
</ng-container>
<div *ngIf="!editing" #editorStart tabindex="0" [title]="value" (focus)="editValue()">{{value}}</div>
