@if (editing) {
  <app-autocomplete #autocomplete="appAutocomplete">
    <ng-template let-control="control" appAutocompleteContent>
      @for (option of control.options; track option) {
        @if (option.header) {
          <app-autocomplete-option-header>{{option.header}}</app-autocomplete-option-header>
        }
        <app-autocomplete-option [option]="option" [control]="control">{{option.data}}</app-autocomplete-option>
      }
    </ng-template>
  </app-autocomplete>
  <input #editorInput type="text" autocomplete="off" [value]="value"
    [appAutocomplete]="autocomplete" [appAutocompleteControl]="this" [appAutocompleteSettings]="{allowEmpty:true}" [(ngModel)]="value"
    (blur)="onBlur()" (appAutocompleteNavigKeyDown)="onNavigKeyDown($event)"
    >
}
@if (!editing) {
  <div #editorStart tabindex="0" [title]="value" (focus)="editValue()">{{value}}</div>
}
