@import "globals.scss";

:host {

	input[type="text"] {
		width: 100%;
		line-height: 1.3em;
		padding: $padding-xs;
		min-width: 300px;
	}

	input[type="radio"] {
		margin-right: $margin-xs;
	}

	.root-form-control {
		margin-bottom: 8px;
		display: block;
	}

	.select {
		margin-right: $margin;
		display: block;
		font-size: 0.8em;
		line-height: 1.5em;
	}

}
