@if (!folder) {
	<app-loading/>
}
<context-menu #actionMenu>
	<ng-template contextMenuItem (execute)="editor.setAudiobookFrames(this.tracks)"><i class="icon-edit"></i>
		<ng-container i18n>Set Audiobook Frames</ng-container>
	</ng-template>
	<ng-template contextMenuItem (execute)="editor.setAudioSeriesFrames(this.tracks)"><i class="icon-edit"></i>
		<ng-container i18n>Set Audio Series Frames</ng-container>
	</ng-template>
	<ng-template contextMenuItem (execute)="editor.setSoundtrackFrames(this.tracks)"><i class="icon-edit"></i>
		<ng-container i18n>Set Soundtrack Frames</ng-container>
	</ng-template>
	<ng-template contextMenuItem (execute)="editor.setBootlegFrames(this.tracks)"><i class="icon-edit"></i>
		<ng-container i18n>Set Bootleg Frames</ng-container>
	</ng-template>
	<ng-template contextMenuItem (execute)="editor.setVariousArtistFrames(this.tracks)"><i class="icon-edit"></i>
		<ng-container i18n>Set Various Artists Compilation Frames</ng-container>
	</ng-template>
	<ng-template contextMenuItem (execute)="editor.findMissingLyrics(this.tracks)"><i class="icon-edit"></i>
		<ng-container i18n>Search & Fill Missing Lyrics Frames</ng-container>
	</ng-template>
</context-menu>
@if (folder) {
	@if (canLoadRecursive) {
		<div class="load-recursive">
			<ng-container i18n>This folder does not contain any tracks with tags.</ng-container>
			<br/>
			<ng-container i18n>Do you want to load all tracks from subfolders?</ng-container>
			<br/>
			<button class="button-on-control" title="Load all Tracks" i18n-title (click)="loadRecursive()"><i class="icon-reload"></i>
				<ng-container i18n>Load recursive</ng-container>
			</button>
		</div>
	}
	@if (tracks && tracks.length > 0 && editor.edits) {
		<div class="actions">
			<button class="button-on-control" title="Refresh" i18n-title (click)="refresh()"><i class="icon-reload"></i></button>
			<button class="button-on-control" title="Match with MusicBrainz" i18n-title (click)="brainz()">
				<app-mb-icon [size]="12"/>
			</button>
			<button class="button-on-control" title="Choose Columns" i18n-title (click)="chooseColumns()"><i class="icon-list-add"></i></button>
			@if (!isSaving) {
				<button class="button-on-control" title="Save" i18n-title (click)="save()"><i class="icon-floppy"></i></button>
			}
			@if (isSaving) {
				<button class="button-on-control" title="Save" i18n-title><i class="icon-spin icon-spnner"></i></button>
			}
			<button class="button-on-control" title="More" i18n-title (click)="onContextMenu($event)">…</button>
		</div>
	}
	<app-admin-tag-editor-column-tool [editor]="editor" [activeCol]="activeCol" (requestClose)="activeCol=undefined"/>
	@if (!tracks) {
		<app-loading/>
	}
	@if (tracks && tracks.length > 0 && editor.edits) {
		<div class="editor">
			<table>
				<thead>
				<tr class="header-row">
					<th></th>
					@for (column of editor.columns; track column.def.id + column.def.subid) {
						<th class="header-row-title" (click)="activeCol = column">
							<div>
								<span [title]="column.def.id">{{ column.def.name }}</span>
							</div>
						</th>
					}
				</tr>
				</thead>
				<colgroup>
					<col [style.min-width.px]="40">
					@for (column of editor.columns; track column.def.id + column.def.subid) {
						<col [style.min-width.px]="column.def.width || 60">
					}
				</colgroup>
				<tbody>
					@for (edit of editor.edits; track edit.track.id) {
						<tr>
							<td class="col-state">
								<div class="cell-editor">
									@if (edit.changed) {
										@if (!edit.saving) {
											<i class="icon-floppy" (click)="saveEdit(edit)"></i>
										}
										@if (edit.saving) {
											<i class="icon-spin icon-spinner"></i>
										}
									}
								</div>
							</td>
							@for (cell of edit.cells; track cell.column.def.id + cell.column.def.subid) {
								<td>
									<app-cell-editor class="cell-editor" [class.changed]="cell.changed" [cell]="cell" (navigKeyDownRequest)="onCellEditorNavigationKeyDown($event)"/>
								</td>
							}
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
}
