<div role="tooltip" class="tooltip {{ placement }}" [style.top.px]="top" [style.left.px]="left" [class.in]="isIn" [class.fade]="isFade">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    <ng-content />
    @if (content) {
      <table>
        @for (item of content.items; track item.key) {
          <tr>
            <td class="tooltip-table-left">{{item.key}}</td>
            <td class="tooltip-table-right">{{item.value}}</td>
          </tr>
        }
      </table>
    }
  </div>
</div>
