@if (playlistEdit) {
	<div class="playlist-form">
		<form>
			<div class="playlist-form-control">
				<label i18n for="playlist-name">Playlist name</label>
				<input #playlistNameInput id="playlist-name" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="playlistEdit.name"/>
			</div>
			<div class="playlist-form-control">
				<label i18n for="playlist-comment">Comment</label>
				<input id="playlist-comment" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="playlistEdit.comment"/>
			</div>
			<div class="playlist-form-control">
				<label for="playlist-public">
					<input id="playlist-public" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="playlistEdit.isPublic"/>
					<ng-container i18n>Playlist is public</ng-container>
				</label>
			</div>
		</form>
	</div>
	@if (playlistEdit.entries.length > 0) {
		<div class="tracks-preview">
			<a class="preview" (click)="showTrackPreview=!showTrackPreview">
				<app-expand-collapse-icon [expanded]="showTrackPreview"/>
				@if (showTrackPreview) {
					<ng-container i18n>Hide Tracks</ng-container>
				} @else {
					<ng-container i18n>Show Tracks</ng-container>
				}
			</a>
			@if (showTrackPreview) {
				<div class="tracks">
					@for (entry of playlistEdit.entries; track entry) {
						<div class="track">
							<div class="title"><p>{{ entry.tag?.title || entry.name }}</p><span title="Artist" i18n-title>{{ entry.tag?.artist }}</span></div>
							<div class="length">{{ entry.duration|duration }}</div>
							<div class="remove"><a title="Remove From Playlist" i18n-title (click)="remove(entry)"><i class="icon-remove"></i></a></div>
						</div>
					}
				</div>
			}
		</div>
	}
}
