<div class="toggle" (click)="rightActive=!rightActive">
	<a class="button-on-control" *ngIf="rightActive"><i class="icon-left"></i> Show Tracks</a>
	<a class="button-on-control" *ngIf="!rightActive"><i class="icon-right"></i> Show Matchings</a>
</div>

<div class="content">
	<div class="match-files">
		<div class="match-file-list">
			<div class="match-file-list-header">{{matchings.length}} Tracks</div>
			<div class="match-file" *ngFor="let match of matchings" draggable="true" (dragstart)="drag($event,match)">
				<div class="handle">
					<span class="grippy"></span>
				</div>
				<div class="title">
					{{match.track.name}}
					<div *ngIf="match.mbTrack">
						<span class="label">TrackNr:</span>&nbsp;<span class="currentRelease">{{match.mbTrack.position}}</span>&nbsp;
						<span class="label">Title:</span>&nbsp;<span class="value">{{match.mbTrack.title || '?'}}</span>&nbsp;
						<span class="label">Artist:</span>&nbsp;<span class="value">{{mbTrackArtistName(match.mbTrack)}}</span>&nbsp;
						<span class="label">Album:</span>&nbsp;<span class="value">{{match.mbRelease?.title || '?'}}</span>&nbsp;
						<div *ngIf="match.abdata">
							<span class="label">Moods:</span>&nbsp;<span class="value">{{match.abdata.moods}}</span>
						</div>
						<div *ngIf="match.lyrics">
							<span class="label">Lyrics:</span>&nbsp;<span class="value">yes</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="current" class="match-releases">
		<div class="match-apply">
			<div>
				<div class="section">Genres</div>
				<i *ngIf="isGenreSearchRunning" class="icon-spin icon-spinner"></i>
				<ng-container *ngIf="genres && !isGenreSearchRunning">
					<label class="select" *ngFor="let genre of genres" title="Usage Count: {{genre.tag.count}}">
						<input type="checkbox" [(ngModel)]="genre.checked"> {{genre.tag.name}} [{{genre.tag.count}}]
					</label>
					<label class="select">
						<input type="checkbox" [(ngModel)]="customGenre.checked"> <input type="text" [(ngModel)]="customGenre.text">
					</label>
				</ng-container>
			</div>
			<app-match-coverart [data]="coverArtSearch"></app-match-coverart>
			<div class="match-track-moods">
				<div class="section">More</div>
				<button [class.disabled]="!isRunning" class="button-on-background" (click)="loadLyrics(current.group.currentRelease)">Load Lyrics</button>
				<button [class.disabled]="!isRunning" class="button-on-background" (click)="loadMoods(current.group.currentRelease)">Load AcousticBrainz Moods</button>
			</div>
		</div>
	</div>

	<div *ngIf="!current" class="match-releases">
		<div class="match-results">
			<div class="match-releasegroup" *ngFor="let group of matchTree.groups">
				<div class="match-releasegroup-title">
					<span class="value">{{group.mbGroup.title}}</span>
				</div>
				<div *ngIf="group.currentRelease" class="match-release-info">
					<span class="label">Score:</span>
					<span class="value"><app-score-box [score]="group.currentRelease.score"></app-score-box></span>
					<span class="label">Artist: </span> <span class="value" *ngIf="group.mbGroup.artistCredit">{{group.mbGroup.artistCredit[0].name}}</span>
					<span class="label">Type: </span> <span class="value">{{group.mbGroup.primaryType}}
					<ng-container *ngIf="group.mbGroup.secondaryTypes"><ng-container *ngFor="let t of group.mbGroup.secondaryTypes">/{{t}}</ng-container></ng-container></span><br/>
					<span class="label">Date:</span> <span class="value">{{group.currentRelease.mbRelease.date || '?'}}</span>
					<span class="label">Country:</span> <span class="value">{{group.currentRelease.mbRelease.country || '?'}}</span><br/>
					<span class="label">Tracks:</span>
					<ng-container *ngFor="let media of group.currentRelease.media">
						<span class="value">{{media.tracks.length}} <i class="icon-checkmark" title="All tracks matched" *ngIf="media.complete"></i><i title="Unmatched tracks!" class="icon-warning" *ngIf="!media.complete"></i></span>
					</ng-container>
					<ng-container *ngIf="group.currentRelease.media.length>1">
						<span class="label">Total Tracks:</span>
						<span class="value">{{group.currentRelease.totalTrack}}</span>
					</ng-container>
				</div>
				<div class="match-select-releases">
					<button *ngIf="!isRunning" class="button-on-background" (click)="group.expanded = !group.expanded">Tracks</button>
					<button *ngIf="!isRunning && group.releases.length>1" class="button-on-background" (click)="group.selecting=!group.selecting">Releases</button>
					<button *ngIf="!isRunning && group.currentRelease" class="button-primary" [ngClass]="{'button-primary':group.currentRelease.complete,'button-on-background':!group.currentRelease.complete}" (click)="chooseRelease(group,group.currentRelease)">Choose</button>
					<div *ngIf="group.selecting">
						<form>
							<fieldset>
								<label class="select" *ngFor="let release of group.releases" (click)="setRelease(group, release)">
									<input type="radio" name="release" [checked]="release === group.currentRelease">
									<span class="label">Score:</span> <span class="value"><app-score-box [score]="release.score"></app-score-box></span>
									<span class="label">Date:</span> <span class="value">{{release.mbRelease.date || '?'}}</span>
									<span class="label">Country:</span> <span class="value">{{release.mbRelease.country || '?'}}</span>
									<span class="label">Tracks:</span> <span class="value">
								<ng-container *ngIf="release.mbRelease.media">
									<ng-container *ngFor="let m of release.mbRelease.media; let index=index">
										<ng-container *ngIf="index>0">/</ng-container>
										{{m.trackCount}}</ng-container>
								</ng-container>
								<ng-container *ngIf="!release.mbRelease.media">?</ng-container>
							</span>
								</label>
							</fieldset>
						</form>
					</div>
				</div>
				<div *ngIf="group.expanded && group.currentRelease" class="match-tracks-info">
					<div *ngFor="let media of group.currentRelease.media">
						<div *ngIf="group.currentRelease.media.length>1" (click)="media.expanded=!media.expanded">
							<i [class]="media.expanded | stringToggle:'icon-minus':'icon-plus'"></i>
							Media {{media.mbMedia.position}}
							<i class="icon-checkmark" title="All tracks matched" *ngIf="media.complete"></i><i title="Unmatched tracks!" class="icon-warning" *ngIf="!media.complete"></i>
						</div>
						<div *ngIf="media.expanded || group.currentRelease.media.length<2">
							<div class="match-track-info" [ngClass]="{missing:!track.currentMatch}" *ngFor="let track of media.tracks" (drop)="drop($event, group, group.currentRelease, track)" (dragover)="allowDrop($event)">
								{{track.mbTrack.position}} - {{track.mbTrack.title}} - {{mbTrackArtistName(track.mbTrack)}}
								<div *ngIf="track.currentMatch" title="Score: {{track.currentMatch.score | number}} {{track.currentMatch.scores|json}}">
									<app-score-box [score]="track.currentMatch.score"></app-score-box>
									<a title="Remove Matching" (click)="removeMatching(group,group.currentRelease,track)"><i class="icon-trash"></i></a>
									{{track.currentMatch.match.track.name}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="current-log" *ngIf="isRunning"><i class="icon-spin icon-spinner"></i> {{currentAction}}</div>

<div *ngIf="current" class="buttons">
	<div class="match-actions">
		<button *ngIf="isRunning" class="button-primary"><i class="icon-spin icon-spinner"></i></button>
		<button *ngIf="!isRunning" class="button-primary" (click)="apply()">Apply</button>
		<button class="button-accent" (click)="stopApply()">Cancel</button>
	</div>
</div>

<context-menu #actionMenu>
	<ng-template contextMenuItem (execute)="setManualSearch()">Manual Search with MusicBrainz</ng-template>
	<ng-template contextMenuItem (execute)="start(RunType.acoustID)">Match with AcoustID</ng-template>
	<ng-template contextMenuItem (execute)="start(RunType.musicbrainzByTags)">Match with MusicBrainz (Text)</ng-template>
	<ng-template contextMenuItem (execute)="start(RunType.musicbrainzRefresh)">Match with MusicBrainz (Musicbrainz IDs)</ng-template>
</context-menu>

<div *ngIf="!current" class="buttons">
	<div *ngIf="!manual" class="match-actions">
		<div *ngIf="!isRunning">
			<button (click)="start(RunType.auto)" class="button-on-control button-with-add-on">Auto Match</button>
			<button [contextMenu]="actionMenu" [contextMenuTriggerLeft]="true" class="button-on-control button-add-on">&nbsp;…&nbsp;</button>
		</div>
		<div *ngIf="isRunning">
			<button (click)="stop()" class="button-accent">Stop</button>
		</div>
	</div>
	<div *ngIf="manual" class="match-actions">
		<div class="match-search">
			<div>
				<div>Album Name</div>
				<app-tag-editor-autocomplete [(value)]="manualSearchData.releaseGroup" [getList]="manualSearchData.getAutoCompleteAlbumList" [standalone]="true"></app-tag-editor-autocomplete>
			</div>
			<div>
				<div>Artist</div>
				<app-tag-editor-autocomplete [(value)]="manualSearchData.artist" [getList]="manualSearchData.getAutoCompleteArtistList" [standalone]="true"></app-tag-editor-autocomplete>
			</div>
		</div>
		<div *ngIf="!isRunning">
			<button (click)="manualSearch()" class="button-primary">Search</button>
			<button (click)="clear()" class="button-accent">Clear</button>
			<button (click)="manual=false" class="button-accent">Close</button>
		</div>
		<div *ngIf="isRunning">
			<button (click)="stop()" class="button-accent">Stop</button>
		</div>
	</div>
</div>
