<div class="toggle" (click)="rightActive=!rightActive">
	@if (rightActive) {
		<a class="button-on-control"><i class="icon-left"></i>
			<ng-container i18n>Show Tracks</ng-container>
		</a>
	} @else {
		<a class="button-on-control"><i class="icon-right"></i>
			<ng-container i18n>Show Matchings</ng-container>
		</a>
	}
</div>
<div class="content">
	<app-match-file-list class="match-files" [matchings]="matcher.matchings"/>
	<app-match-apply class="match-releases" [hidden]="!current" [isRunning]="matcher.isRunning" (loadLyricsRequest)="loadLyricsRequest()" (loadMoodsRequest)="loadMoodsRequest()"/>
	@if (!current) {
		<app-match-results class="match-releases" [matcher]="matcher" (chooseReleaseRequest)="chooseRelease($event)"/>
	}
</div>
@if (matcher.isRunning) {
	<div class="current-log"><i class="icon-spin icon-spinner"></i> {{ matcher.currentAction }}</div>
}
<context-menu #actionMenu>
	<ng-template i18n contextMenuItem (execute)="matcher.setManualSearch()">Manual Search with MusicBrainz</ng-template>
	<ng-template i18n contextMenuItem (execute)="matcher.start(RunType.acoustID)">Match with AcoustID</ng-template>
	<ng-template i18n contextMenuItem (execute)="matcher.start(RunType.musicbrainzByTags)">Match with MusicBrainz (Text)</ng-template>
	<ng-template i18n contextMenuItem (execute)="matcher.start(RunType.musicbrainzRefresh)">Match with MusicBrainz (Musicbrainz IDs)</ng-template>
</context-menu>
@if (current) {
	<div class="buttons">
		<div class="match-actions">
			@if (matcher.isRunning) {
				<button class="button-primary"><i class="icon-spin icon-spinner"></i></button>
			} @else {
				<button i18n class="button-primary" (click)="apply()">Apply</button>
			}
			<button i18n class="button-accent" (click)="stopApply()">Cancel</button>
		</div>
	</div>
} @else {
	<div class="buttons">
		@if (matcher.manual) {
			<div class="match-actions">
				<div class="match-search">
					<div>
						<div i18n>Album Name</div>
						<app-tag-editor-autocomplete [getList]="matcher.manualSearchData.getAutoCompleteAlbumList" [standalone]="true" [(value)]="matcher.manualSearchData.releaseGroup"/>
					</div>
					<div>
						<div i18n>Artist</div>
						<app-tag-editor-autocomplete [getList]="matcher.manualSearchData.getAutoCompleteArtistList" [standalone]="true" [(value)]="matcher.manualSearchData.artist"/>
					</div>
				</div>
				@if (!matcher.isRunning) {
					<div>
						<button i18n class="button-primary" (click)="matcher.manualSearch()">Search</button>
						<button i18n class="button-accent" (click)="matcher.clear()">Clear</button>
						<button i18n class="button-accent" (click)="matcher.manual=false">Close</button>
					</div>
				}
				@if (matcher.isRunning) {
					<div>
						<button i18n class="button-accent" (click)="matcher.stop()">Stop</button>
					</div>
				}
			</div>
		} @else {
			<div class="match-actions">
				@if (matcher.isRunning) {
					<div>
						<button i18n class="button-accent" (click)="matcher.stop()">Stop</button>
					</div>
				} @else {
					<div>
						<button i18n class="button-on-control button-with-add-on" (click)="matcher.start(RunType.auto)">Auto Match</button>
						<button class="button-on-control button-add-on" (click)="onContextMenu($event)">&nbsp;…&nbsp;</button>
					</div>
				}
			</div>
		}
	</div>
}
