@import "globals.scss";

:host {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.toggle {
		display: none;
	}

	.content {
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;
		overflow-y: auto;

		.label {
			padding-right: 4px;
			font-size: 0.9em;
			text-transform: uppercase;
		}

		.select {
			padding-top: 2px;
			padding-bottom: 2px;
			display: block;
			font-size: 0.9em;

			input {
				margin-right: 4px;
			}

			&:hover {
				background-color: var(--background-hover);
			}
		}

		.match-files {
			overflow-y: auto;
			overflow-x: auto;
			display: block;
			height: 100%;
			width: 50%;
			font-size: 0.8em;
			padding-right: $padding;

			.match-file-list {
				@include track-table();

				.match-file-list-header {
					text-align: center;
					padding-bottom: $padding-xs;
				}

				.match-file {
					@include track-table-row();
					@include track-table-data-row();
					padding-left: 0;

					.title {
						span {
							font-size: $x-small;

							&.value {
								color: var(--on-background-active);
								padding-right: $padding-xs;
							}
						}
					}
				}
			}
		}

		.match-releases {
			border-left: 1px solid var(--background-border);
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			width: 50%;
			font-size: 0.9em;

			.icon-checkmark {
				color: var(--primary);
			}

			.icon-warning {
				color: var(--accent);
			}

			.value {
				color: var(--on-background-active);
				padding-right: $padding-xs;
			}

			.match-results {
				flex: 1 1 auto;
				overflow-y: auto;
				overflow-x: auto;

				.match-releasegroup {
					padding: $padding-xs $padding-xs $padding-xs $padding;

					.match-release-info, .match-tracks-info {
						font-size: 0.8em;
					}

					.match-release-info, .match-tracks-info, .match-select-releases {
						padding-top: 4px;
					}

					.match-select-releases {

						button {
							font-size: 0.7em;
							line-height: 0.7em;
							vertical-align: top;
						}

					}

					app-image-base64 {
						height: 32px;
						width: 32px;
					}

					.match-track-info {
						padding-top: 2px;
						padding-bottom: 2px;
						border-top: 1px solid var(--background-border);

						&.missing {
							color: var(--accent)
						}

					}

					.match-release {
						white-space: nowrap;
						padding: $padding-xs $padding-xs $padding-xs 42px;
					}
				}

			}

			.match-apply {
				flex: 1 1 auto;
				overflow-y: auto;
				overflow-x: auto;
				padding: $padding;

				> div {
					padding-bottom: $padding-sm;
				}
			}

			.section {
				color: var(--on-background-active);
				text-transform: uppercase;
				padding-bottom: $padding-sm;
				white-space: nowrap;
			}

			app-match-coverart {
				border-top: 1px solid var(--background-border);
			}

			.match-album-images {
				border-top: 1px solid var(--background-border);
				padding-top: $padding;

				.front-only-choice {
					float: right;
					font-size: 0.8em;
				}

				.match-images {
					@include media-cards();
				}
			}

			.match-track-moods {
				border-top: 1px solid var(--background-border);
				padding-top: $padding;
			}
		}

	}

	.buttons {
		flex: 0 0 auto;
		padding: $padding-xs;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 1px solid var(--background-border);

		.match-actions {
			text-align: center;
			vertical-align: middle;
			margin-top: $margin-sm;
			margin-bottom: $margin-lg;

			app-tag-editor-autocomplete {
				height: 28px;
				display: block;
			}

			.match-search {
				display: flex;
				flex-direction: row;
				text-align: left;
				@media (max-width: $break-pad) {
					flex-direction: column;
				}

				> div {
					flex: 1;
					padding-left: $padding-sm;
					padding-right: $padding-sm;
				}

				margin-bottom: $margin-sm;
			}

			button {
				margin-left: $margin-sm;
				margin-right: $margin-sm;
			}

			.match-progress {
				display: block;
				font-size: 0.9em;
			}
		}
	}

	.current-log {
		font-size: 0.8em;
		padding: $padding-xs;
	}

	@media (max-width: $break-pad) {

		.toggle {
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			text-align: center;
			padding-top: $padding-xs;
			padding-bottom: $padding-xs;
		}

		.content {
			//display: block;
			overflow-y: auto;

			.match-files {
				height: auto;
				width: 100%;
				overflow-y: inherit;
				display: block;
				padding-right: 0;

				.handle {
					display: none;
				}
			}

			.match-releases {
				height: auto;
				width: 100%;
				display: none;
				border-left: none;
			}

			.match-releasegroup {
				padding-left: 0;
			}

		}

		&.right-active {
			.content {
				.match-releases {
					display: block;
				}


				.match-files {
					display: none;
				}
			}
		}

	}

}
