<app-autocomplete #autocomplete="appAutocomplete">
  <ng-template let-control="control" appAutocompleteContent>
    @for (option of control.options; track $index) {
      @if (option.header) {
        <app-autocomplete-option-header>{{option.header}}</app-autocomplete-option-header>
      }
      <app-autocomplete-option [option]="option" [control]="control">
        <span [innerHTML]="option.data.name | highlight: control.query"></span>
      </app-autocomplete-option>
    }
  </ng-template>
</app-autocomplete>
<form role="search">
  <label i18n class="visually-hidden" for="header-search-box">Search</label>
  <input id="header-search-box" autocomplete="off" type="search" name="query"
    aria-label="Search" i18n-aria-label [appAutocomplete]="autocomplete"
    [appAutocompleteControl]="this"
    (focusin)="this.setSearchActive(true)"
    (blur)="this.setSearchActive(false)"
    >
  <button (click)="search()"><i class="icon-search" aria-hidden="true"></i></button>
</form>
