<app-autocomplete #autocomplete="appAutocomplete">
	<ng-template appAutocompleteContent let-control>
		<ng-container *ngFor="let option of control.options">
			<app-autocomplete-option-header *ngIf="option.header">{{option.header}}</app-autocomplete-option-header>
			<app-autocomplete-option [option]="option" [control]="control">
				<span [innerHTML]="option.data.name | highlight: control.query"></span>
			</app-autocomplete-option>
		</ng-container>
	</ng-template>
</app-autocomplete>
<form role="search">
	<label class="visually-hidden" for="header-search-box">Search</label>
	<input id="header-search-box" autocomplete="off" type="search" name="query"
				 aria-label="Search" [appAutocomplete]="autocomplete" [appAutocompleteControl]="this">
	<i class="icon-search" aria-hidden="true"></i>
</form>
