@import "globals.scss";

:host {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;

	.folders {
		display: flex;
		flex-direction: column;

		.actions {
			padding: $padding-sm $padding;
			border-bottom-color: var(--background-border);
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

	}
}
