@import "globals.scss";

:host {
	position: relative;
	flex: 0 1 100%;
	display: flex;
	flex-direction: column;
	height: 100%;

	.tracks-wrapper {
		flex-grow: 1;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: var(--background);
		margin: 1px;
	}

	cdk-virtual-scroll-viewport {
		width: 100%;
		height: 100%;
		min-height: 100%;
		overflow-x: hidden;

		::ng-deep {
			.cdk-virtual-scroll-content-wrapper {
				width: 100%;
			}
		}
	}

	.tracks {
		@include track-table();
		overflow-x: hidden;
		max-width: 100%;
	}

	.queue-actions {
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: var(--control-border);
		display: flex;
		flex-flow: row nowrap;
		background-color: var(--control);
		color: var(--on-control);
		align-items: center;

		button {
			min-height: 40px;
			height: 40px;
			max-height: 40px;
			@include button();
			background-color: var(--control);
			border-color: var(--control);
			color: var(--on-control);
			flex: 1;
			margin: 1px;
		}
	}
}

.cdk-drag-preview {
	color: #fff;
	@include track-table-row();
	@include track-table-data-row();
}
