<app-background-text *ngIf="!entries || entries.length===0" text="No Tracks in Queue"></app-background-text>
<div class="tracks-wrapper" appFocusKeyList [settabindex]="entries.length===0?'':'0'">
	<ng-container *ngIf="entries && entries.length>0">
		<cdk-virtual-scroll-viewport style="height: 100%; width:100%;" [itemSize]="60">
			<div class="tracks" cdkDropList [cdkDropListData]="entries" (cdkDropListDropped)="onDrop($event)">
				<div *cdkVirtualFor="let entry of entries; let index = index;"
						 class="track-wrapper"
						 cdkDrag
						 appFocusKeyListItem
						 (tap)="tapPlayQueuePos($event, index)"
						 (keydown.enter)="playQueuePos(index)"
						 (panstart)="onPanStart($event)"
						 (panmove)="onPanMove($event)"
						 (panend)="onPanEnd($event, entry)"
						 (pancancel)="onPanCancel()"
						 (contextmenu)="onContextMenu($event, entry)"
				>
					<app-queue-item [entry]="entry" [index]="index" />
				</div>
			</div>
		</cdk-virtual-scroll-viewport>
	</ng-container>
</div>

<div *ngIf="showControls" class="queue-actions" [class.disabled]="!entries || entries.length===0">
	<button class="queue-action" title="Clear Queue" (click)="queue.clear()"><i class="icon-remove" aria-hidden="true"></i> Clear</button>
	<button class="queue-action" title="Randomize Order of Tracks" (click)="queue.shuffle()"><i class="icon-shuffle" aria-hidden="true"></i> Shuffle</button>
	<!--	<button class="queue-action" (click)="newPlaylist(tracks)" title="Save to new Playlist"><i class="icon-playlist" aria-hidden="true"></i> Save as</button>-->
</div>
