@if (!entries || entries.length === 0) {
	<app-background-text text="No Tracks in Queue" i18n-text/>
} @else {
	<div class="title" i18n>Queue</div>
}
<div class="tracks-wrapper" appFocusKeyList role="list" [settabindex]="entries.length===0?'':'0'">
	@if (entries && entries.length > 0) {
		<cdk-virtual-scroll-viewport style="height: 100%; width:100%;" [itemSize]="60">
			<div class="tracks" cdkDropList [cdkDropListData]="entries" (cdkDropListDropped)="onDrop($event)">
				<div *cdkVirtualFor="let entry of entries; let index = index;"
						 class="track-wrapper"
						 cdkDrag
						 appFocusKeyListItem role="listitem"
						 (dblclick)="doubleClickPlayQueuePos(index)"
						 (keydown.enter)="playQueuePos(index)"
						 (touchstart)="onTouchStart($event)"
						 (touchmove)="onTouchMove($event)"
						 (touchend)="onTouchEnd($event, entry)"
						 (touchcancel)="onTouchCancel()"
						 (contextmenu)="onContextMenu($event, entry)"
				>
					<app-queue-item [entry]="entry" [index]="index"/>
				</div>
			</div>
		</cdk-virtual-scroll-viewport>
	}
</div>
@if (showControls()) {
	<div class="queue-actions" [class.disabled]="!entries || entries.length===0">
		<button class="queue-action" title="Clear Queue" i18n-title (click)="queue.clear()"><i class="icon-remove" aria-hidden="true"></i>
			<ng-container i18n>Clear</ng-container>
		</button>
		<button class="queue-action" title="Randomize Order of Tracks" i18n-title (click)="queue.shuffle()"><i class="icon-shuffle" aria-hidden="true"></i>
			<ng-container i18n>Shuffle</ng-container>
		</button>
		<!--	<button class="queue-action" (click)="newPlaylist(tracks)" title="Save to new Playlist"><i class="icon-playlist" aria-hidden="true"></i> <ng-container i18n>Save as</ng-container></button>-->
	</div>
}
