<app-background-text *ngIf="!entries || entries.length===0" text="No Tracks in Queue"></app-background-text>
<div class="tracks-wrapper">
	<ng-container *ngIf="entries && entries.length>0">
		<cdk-virtual-scroll-viewport style="height: 100%; width:100%;" [itemSize]="60">
			<div class="tracks" cdkDropList [cdkDropListData]="entries" (cdkDropListDropped)="onDrop($event)">
				<div class="track" *cdkVirtualFor="let entry of entries; let index = index"
						 (tap)="tapPlayQueuePos($event, index)"
						 (panstart)="onPanStart($event)"
						 (panmove)="onPanMove($event)"
						 (panend)="onPanEnd($event, entry)"
						 (pancancel)="onPanCancel($event)"
						 (contextmenu)="onContextMenu($event, entry)"
						 cdkDrag>
					<div class="handle" cdkDragHandle><span class="grippy"></span></div>
					<div class="number">
						<ng-container *ngIf="player.currentMedia && player.currentMedia.id===entry.id">
							<i [class]="player.isPlaying | stringToggle:'icon-play':'icon-pause'"></i>
						</ng-container>
						<ng-container *ngIf="!player.currentMedia || player.currentMedia.id!==entry.id">
							<i class="icon-hash small-screen-icon"></i>
						</ng-container>
						{{index + 1}}
					</div>
					<div class="title"><p>{{entry.tag ? entry.tag.title : entry.name}}</p><a *ngIf="entry.tag && entry.tag.artist" (click)="navig.toArtistID(entry.artistID,entry.tag.artist)">{{entry.tag.artist}}</a></div>
					<div class="length"><i class="icon-stopwatch small-screen-icon"></i> {{entry.duration|duration}}</div>
					<div class="remove"><a title="Remove From Queue" (click)="queue.remove(entry)" appClickStop><i class="icon-remove"></i></a></div>
				</div>
			</div>
		</cdk-virtual-scroll-viewport>
	</ng-container>
</div>

<div *ngIf="showControls" class="queue-actions" [class.disabled]="!entries || entries.length===0">
	<button class="queue-action" (click)="queue.clear()" title="Clear Queue"><i class="icon-remove"></i> Clear</button>
	<button class="queue-action" (click)="queue.shuffle()" title="Randomize Order of Tracks"><i class="icon-shuffle"></i> Shuffle</button>
<!--	<button class="queue-action" (click)="newPlaylist(tracks)" title="Save to new Playlist"><i class="icon-playlist"></i> Save as</button>-->
</div>
