@import "src/style/globals";

:host {
	height: 100%;
	width: 100%;

	.health {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;

		.actions {
			padding: $padding-sm $padding;
			border-bottom-color: var(--background-border);
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		.content {
			padding: $padding;
			overflow-y: auto;
			overflow-x: auto;
		}

		.track {
			flex-flow: row nowrap;

			.meta {
				width: 30%;
				overflow: hidden;
				padding-right: $padding;
				text-overflow: ellipsis;
			}

			.track-health {
				width: 70%;
			}
		}
	}
}
