@if (!folder) {
	<app-loading/>
} @else if (folder.folders) {
	<div class="folders">
		<div class="actions">
			<button class="button-on-control" title="Refresh" i18n-title (click)="refresh()"><i class="icon-reload"></i></button>
			<button class="button-on-control" title="New Folder…" i18n-title (click)="newFolder()"><i class="icon-plus"></i></button>
			@if (folder.folders && folder.folders.length) {
				<button class="button-on-control" title="Move Subfolders…" i18n-title (click)="moveSubfolders()"><i class="icon-right-bold"></i></button>
			}
		</div>
		<app-background-text-list name="Folders" [list]="folder.folders"/>
		@if (folder.folders && folder.folders.length) {
			<app-admin-folder-list [folders]="folder.folders"/>
		}
	</div>
}
