@import "src/style/globals";

:host {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;

	.folders {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		.actions {
			@include action-buttons();
		}

		app-admin-folder-list {
			overflow-y: auto;
		}

	}
}
