@use "_scss/variables";
@use "_scss/mixins/table";

:host {
	.index-entries {
		@include table.flex-table();

		.index-entry {
			@include table.flex-table-row();
			@include table.flex-table-data-row();
		}
	}

	.index-group-name {
		@include table.flex-table-row();
		& {
			user-select: none;
		}

		&:after {
			font-family: variables.$icon-font-family;
			content: variables.$icon-font-chevron-down-char;
			padding-left: 4px;
		}

		&:hover {
			background-color: var(--background-hover);
		}
	}
}
