@import "globals.scss";

:host {
	.user {
		@include view-host();

		.content {
			@include view-content();
			padding: $padding $padding $padding-xl;

			.section {
				padding-bottom: $padding-lg;
			}

			.row {
				display: flex;
				flex-direction: row;

				.column.first {
					padding-right: $padding-lg;
					//flex: 1;
				}

				//@media (max-width: $break-pad) {
					.column {
						flex: 1;
					}
				//}

				@media (max-width: $break-mobile) {
					flex-direction: column;
					.column.first {
						padding-right: 0;
					}
				}
			}
		}
	}
}
