@import "globals.scss";

:host {
	.user {
		@include view();

		.content {
			padding: $padding;
			padding-bottom: $padding-xl;

			.section {
				padding-bottom: $padding-lg;
			}

			.drop-zone {
				vertical-align: bottom;
				display: inline-block;
				min-width: 200px;
				min-height: 140px;
				border-width: 2px;
				margin-bottom: $margin;
				margin-right: $margin;
				border-style: dotted;
				border-color: var(--secondary);
				padding-left: $padding;
				padding-right: $padding;
				padding-bottom: $padding;
				text-align: center;

				app-coverart-image {
					margin: 0 auto $margin-sm;
				}

				.inputfile {
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				}

				button {
					margin-bottom: $margin-sm;
				}

				.placeholder {
					width: 100%;
					padding-top: $padding;
					padding-bottom: $padding;
					text-align: center;
					color: var(--on-control-ambient);
					font-size: 0.8em;
					text-transform: uppercase;
				}

			}

		}
	}

}
