<div class="user">
	<app-view-header-slim section="User"></app-view-header-slim>
	<div *ngIf="auth.user" class="content">
		<div class="row">
			<div class="column first">
				<div class="section-title">Avatar</div>
				<app-user-avatar></app-user-avatar>
			</div>
			<div class="column">
				<div class="section">
					<div class="section-title">Name</div>
					<div>{{auth.user.name}}</div>
				</div>
				<div class="section">
					<div class="section-title">Permissions</div>
					<div class="roles">
						<div *ngIf="auth.user?.roles?.stream"><i class="icon-checkmark"></i> Stream Audio</div>
						<div *ngIf="auth.user?.roles?.podcast"><i class="icon-checkmark"></i> Manage Podcasts</div>
						<div *ngIf="auth.user?.roles?.upload"><i class="icon-checkmark"></i> Upload Audio</div>
						<div *ngIf="auth.user?.roles?.admin"><i class="icon-checkmark"></i> Server Administration</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<app-user-stats></app-user-stats>
		</div>
	</div>
</div>
