<div class="user">
	<app-view-header-slim section="User" i18n-section></app-view-header-slim>
	<div *ngIf="auth.user" class="content">
		<div class="row">
			<div class="column first">
				<div i18n class="section-title">Avatar</div>
				<app-user-avatar></app-user-avatar>
			</div>
			<div class="column">
				<div class="section">
					<div i18n class="section-title">Name</div>
					<div>{{auth.user.name}}</div>
				</div>
				<div class="section">
					<div i18n class="section-title">Permissions</div>
					<div class="roles">
						<div *ngIf="auth.user?.roles?.stream"><i class="icon-checkmark"></i> <ng-container i18n>Stream Audio</ng-container></div>
						<div *ngIf="auth.user?.roles?.podcast"><i class="icon-checkmark"></i> <ng-container i18n>Manage Podcasts</ng-container></div>
						<div *ngIf="auth.user?.roles?.upload"><i class="icon-checkmark"></i> <ng-container i18n>Upload Audio</ng-container></div>
						<div *ngIf="auth.user?.roles?.admin"><i class="icon-checkmark"></i> <ng-container i18n>Server Administration</ng-container></div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<app-user-stats></app-user-stats>
		</div>
	</div>
</div>
