@if (notes.length > 0) {
	<div>
		@if (!longInfo && notes.length > 1) {
			<div [innerHTML]="notes[0]"></div>
		}
		@if (longInfo || notes.length === 1) {
			@for (note of notes; track $index) {
				<div>
					<div [innerHTML]="note"></div>
				</div>
			}
			@if (info(); as info) {
				<div class="info-footnote">
					@if (info.url) {
						<span><ng-container i18n>Read more on </ng-container><a target="_blank" rel="noopener" [href]="info.url">{{ info.source }}</a><br/></span>
					}
					<a i18n [href]="info.licenseUrl">User-contributed text is available under the {{ info.license }}; additional terms may apply.</a>
				</div>
			}
		}
		@if (notes.length > 1) {
			@if (!longInfo) {
				<button i18n class="button-on-background" (click)="longInfo=!longInfo">Show More</button>
			} @else {
				<button i18n class="button-on-background" (click)="longInfo=!longInfo">Show Less</button>
			}
		}
	</div>
}
