<div *ngIf="notes.length>0">
	<div *ngIf="!longInfo && notes.length>1" [innerHTML]="notes[0]"></div>
	<ng-container *ngIf="longInfo || notes.length===1">
		<div *ngFor="let note of notes; trackBy:trackByFn">
			<div [innerHTML]="note"></div>
		</div>
		<div *ngIf="info" class="info-footnote">
			<span *ngIf="info.url">Read more on <a target="_blank" rel="noopener" [href]="info.url">{{info.source}}</a><br/></span>
			<a [href]="info.licenseUrl">User-contributed text is available under the {{info.license}}; additional terms may apply.</a>
		</div>
	</ng-container>
	<ng-container *ngIf="notes.length>1">
		<button *ngIf="!longInfo" class="button-on-background" (click)="longInfo=!longInfo">Show More</button>
		<button *ngIf="longInfo" class="button-on-background" (click)="longInfo=!longInfo">Show Less</button>
	</ng-container>
</div>
