@use "_scss/variables";

:host {
	display: block;
	padding: variables.$padding-lg;
	border-radius: 4px;
	font-weight: 200;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1.5em;
	background-color: var(--background-box);
	color: var(--on-background-highlight);

	.info-footnote {
		margin-top: variables.$margin;
		font-size: 0.9em;
	}

	button {
		margin-top: variables.$margin;
	}

}
