@import "globals.scss";

:host {
	width: 100%;

	.input-group {
		height: 100%;
		width: 100%;

		input {
			height: 100%;
			width: 100%;
			background-color: var(--input);
			color: var(--on-input);
			border-radius: $border-radius;
			padding-left: $border-radius-padding;
			padding-right: $border-radius-padding;
		}

		&.cell {
			display: block;
			border: none;

			input {
				padding-left: 0;
				padding-right: 0;
				border-radius: 0;
				border: none;
				color: inherit;
				background-color: inherit;
			}
		}
	}
}
