<div class="sessions">
	<app-view-header-slim section="Session Logins"></app-view-header-slim>
	<div *ngIf="sessions" class="content">
		<div class="session-list">
			<div class="section-title">Sessions</div>
			<div *ngFor="let session of sessions; trackBy:trackByFn" class="session">
				<div class="agent">
					{{session.agent}}<br/>
					{{session.os}}
				</div>
				<div class="title">
					{{session.client}}<br/>
					<span>{{session.mode}}</span>
				</div>
				<div class="expires">
					<span class="label">valid until:</span><br/>
					{{session.expires | date:'long'}}
				</div>
				<div class="remove"><button title="Remove this login" (click)="remove(session)"><i class="icon-remove" aria-hidden="true"></i></button></div>
			</div>
		</div>
	</div>
</div>
