@import "globals.scss";

:host {
	.sessions {
		@include view-host();

		.content {
			@include view-content();
			padding: $padding $padding $padding-xl;

			.session-list {
				@include flex-table();

				.session {
					@include flex-table-row();
					@include flex-table-data-row();

					.agent {
						font-size: 0.8em;
						flex-grow: 1;
						padding-right: $padding-sm;
					}

					.expires {
						width: 260px;
						font-size: 0.8em;
						padding-right: $padding-sm;
					}

					.remove {
						button {
							cursor: pointer;
							color: var(--on-background);

							&:hover {
								color: var(--on-background-hover);
							}
						}
					}

					.title {
						padding-right: $padding-sm;
						width: 140px;

						span {
							font-size: 0.7em;
							text-transform: uppercase;
						}
					}

					&.invalid {
						color: var(--on-control-ambient-disabled);
						.expires {
							color: var(--accent);
						}
					}

					@media (max-width: $break-mobile) {
						.agent, .expires {
							width: 100%;
						}

						.title {
							order: 0;
							width: calc(100% - 30px);;
						}

						.remove {
							order: 1;
						}

						.agent {
							order: 2;
						}

						.expires {
							order: 3;
						}

					}
				}
			}
		}
	}
}
