<div class="roots">
	<app-view-header-slim section="Roots">
		<button class="button-on-control" title="Refresh List" (click)="refresh()"><i class="icon-reload"></i> Refresh</button>
		<button class="button-on-control" title="Add new Root" (click)="newRoot()"><i class="icon-list-add"></i> Add</button>
		<button class="button-on-control" title="Rescan Roots" (click)="refreshRoots()"><i class="icon-rescan"></i> Rescan</button>
	</app-view-header-slim>
	<div class="content">
		<app-admin-root-list [roots]="roots"></app-admin-root-list>
	</div>
</div>

