<div class="roots">
	<app-view-header-slim section="Roots" i18n-section>
		<div class="actions">
			<button class="button-on-control" title="Refresh" i18n-title (click)="refresh()"><i class="icon-reload"></i></button>
			<button class="button-on-control" title="New Root…" i18n-title (click)="newRoot()"><i class="icon-plus"></i></button>
			<button class="button-on-control" title="Rescan all Roots" i18n-title (click)="refreshRoots()"><i class="icon-rescan"></i></button>
		</div>
	</app-view-header-slim>
	<div class="content">
		<app-admin-root-list [roots]="roots" />
	</div>
</div>

