@use "_scss/mixins/view";
@use "_scss/mixins/button";

:host {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	display: block;

	.roots {
		@include view.view-host();

		.actions {
			@include button.header-actions-buttons();
		}
	}
}
