@use "_scss/variables";
@use "_scss/mixins/cards";

:host {
	.index-cards {
		@include cards.media-cards();

		.index-card-placeholder {
			@include cards.media-card();
		}
	}

	.title {
		padding: variables.$padding-sm;
		min-height: 48px;
		line-height: 1.25em;
		font-size: 0.9em;
		align-items: center;
		align-content: space-evenly;
		display: flex;

		&:after {
			font-family: variables.$icon-font-family;
			content: variables.$icon-font-chevron-down-char;
			padding-left: 4px;
		}

		&:hover {
			background-color: var(--background-hover);
		}
	}
}

