@mixin base-button {
	border-radius: 6px;
	border-width: 1px;
	border-style: solid;
	padding: ($padding-xs * 1.4) $padding;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: $x-small;
	line-height: $x-small;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	user-select: none;
}

@mixin button {
	@include base-button();

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		transition: width 20ms ease;
		z-index: 0;
		background-color: rgba(white, 0.2);
	}

	&:hover {
		&:before {
			width: 100%;
		}
	}
}

@mixin header-actions-buttons {
	> button {
		margin-right: $margin-xs;
		margin-bottom: $margin-sm;
	}
}

@mixin action-buttons {
	padding: $padding-sm $padding 0;
	border-bottom-color: var(--background-border);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	> button {
		margin-right: $margin-xs;
		margin-bottom: $margin-sm;
	}

	> label {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: $x-small;
		margin-left: $margin-xs;
		margin-right: $margin-xs;
	}

}
