@mixin media-card {
	margin: $margin;
	width: calc((100% / 4) - 30px);
	position: relative;
	overflow: hidden;
	display: flex;
	cursor: pointer;
	tab-index: 0;

	&:before {
		content: "";
		display: block;
		margin-top: 100%;
	}

	.image {
		width: 100%;
	}

	.fav, .date, .more {
		position: absolute;
		top: 1px;
		padding: $padding-xs;
		transform: translateY(-31px);
		transition: transform 0.3s;
		user-select: none;
		border-bottom-left-radius: 3px;
	}

	.play {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		visibility: hidden;
		opacity: 0;
		transition-property: opacity, visibility;
		transition-duration: 0.3s;
	}

	.date {
		left: 50%;
		transform: translate(-50%, -31px);
		font-size: 0.8em;
	}

	.fav {
		left: 1px;
		cursor: pointer;
	}

	.more {
		right: 3px;
		cursor: pointer;
	}

	.footer {
		padding: $padding-sm;
		position: absolute;
		bottom: 1px;
		left: 1px;
		right: 1px;
		overflow: hidden;
		height: auto;
		transition: all 0.3s;

		.footer-buttons {
			display: none;
		}
	}

	&:hover, &:focus-within {

		.fav, .more {
			transform: translateY(0);
		}

		.date {
			transform: translate(-50%, 0);
		}

		.play {
			visibility: unset;
			opacity: 1;
		}
	}

	.date, .footer, .fav, .more {
		background-color: var(--background-transparent);
		color: var(--on-background-highlight);

		a {
			color: var(--on-background-highlight);

			&:hover {
				color: var(--on-background);
			}
		}
	}

	.fav {
		&:hover {
			color: var(--on-background);
		}
	}

	.footer-subline {
		display: block;
		font-size: 0.8em;
	}

	@media (max-width: $break-desktop-huge) {
		width: calc((100% / 4) - 30px);
	}

	@media (max-width: $break-desktop) {
		width: calc((100% / 3) - 30px);
	}

	@media (max-width: $break-phone) {
		width: calc((100% / 2) - 30px);
	}
	@media (max-width: $break-mobile) {
		margin: $margin-sm;
		.footer {
			font-size: 0.8em;
		}
	}
}

@mixin media-cards {
	display: flex;
	flex-flow: row wrap;

	@media (max-width: $break-pad) {
		justify-content: space-around;
	}
}
