@mixin slider($slider-height, $slider-progress-height) {
	$slider-progress-top: (($slider-height - $slider-progress-height) / 2) - 1px;
	$slider-handle-height: ($slider-height - $slider-progress-height);
	.slider {
		height: $slider-height;
		float: none;
		width: 100%;
		position: relative;
		overflow: visible;
		cursor: pointer;

		.back {
			height: $slider-progress-height;
			position: absolute;
			top: $slider-progress-top;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			pointer-events: none;
			z-index: 1;
			background-color: var(--control-box);
		}

		.scrubber {
			position: absolute;
			top: $slider-progress-top;
			left: 0;
			bottom: 0;
			width: 0;
			height: $slider-progress-height;
			z-index: 3;
			pointer-events: none;
			background-color: var(--primary);

			&.neutral {
				background-color: var(--control-box-border);
			}

			.handle {
				display: none;
				position: absolute;
				width: $slider-handle-height;
				height: $slider-handle-height;
				top: - ($slider-handle-height / 2) + 1px;
				right: - ($slider-handle-height / 2);
				border-radius: 50%;
				cursor: default;
				z-index: 3;
			}

			&.line {
				border-right-style: solid;
				border-right-width: 3px;
				top: 0;
				height: $slider-height;
				background-color: transparent;
				border-right-color: var(--on-background);
			}
		}
	}
}
