@mixin view-content {
	padding: 0 $padding $padding;

	.section-title {
		text-transform: uppercase;
		letter-spacing: 1.25px;
		font-size: $x-small * 1.2;
		margin-bottom: $margin-sm;
		color: var(--on-control-ambient);
	}

	@media (max-width: $break-phone) {
		padding-left: $padding-sm;
		padding-right: $padding-sm;
	}

}

@mixin view-header-slim {
	min-height: 130px;

	@media (max-width: $break-phone) {
		min-height: 100px;
		padding-left: $padding;
		padding-right: $padding;

		.info {
			.img {
				width: inherit;
			}

			.meta {
				padding-left: 0;
				margin-left: 0;
				width: 100%;
			}
		}
	}
}

@mixin view-header {
	min-height: 260px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--control);
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-origin: padding-box;
	overflow: visible;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;

	&:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: var(--background-transparent);
	}

	.info {
		padding: $padding;
		z-index: 1;
		width: 100%;
		margin-top: $margin-lg;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center; // flex-end;
		color: var(--on-control-ambient);

		.img {
			margin-right: $margin;
			flex: 0 0 160px;
			height: 160px;
		}

		.meta {
			flex: 1 1;

			.year, .artist, .name, .number {
				color: var(--on-control-hover);
			}

			.type {
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: 1px;
				margin-left: 2px;
			}

			.name {
				font-size: $xxx-large;
				font-weight: 100;
				padding: 0 0 $padding-sm 0;
			}

			.year {
				font-size: $medium;
				font-weight: 100;
				padding: 0 0 $padding-sm 0;
			}

			.artist {
				font-size: $medium;
				font-weight: 100;
				padding: 0 0 $padding-sm 0;
				cursor: pointer;
			}

			.actions {
				display: flex;
				flex-flow: row wrap;
			}

		}

		.header-infos {
			max-width: 30%;
			padding: $padding;
			text-align: right;
			font-weight: 100;
			font-size: 16px;
			letter-spacing: 1px;

			.label {
				font-weight: 300;
				text-transform: uppercase;
				font-size: 12px;
				letter-spacing: 1px;
				vertical-align: middle;
				color: var(--on-control-ambient);
			}

			.count {
				padding-bottom: $margin-sm;
				color: var(--on-control-ambient-hover);
				overflow: hidden;
				text-overflow: ellipsis;
				vertical-align: middle;

				&.clickable {
					color: var(--on-control-ambient-hover);
					cursor: pointer;

					&:hover {
						color: var(--on-control-ambient);
					}
				}
			}

			.more {
				user-select: none;
				padding: 4px 9px 10px;
				margin-right: -9px;
				border-radius: 50%;
				border: 1px solid transparent;

				&:hover {
					background-color: var(--control-hover);
					color: var(--on-background-hover);
				}
			}
		}

	}

	.navigation {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		background-color: var(--background-transparent);
	}

	@media (max-width: $break-notebook) {
		.info .meta .name {
			font-size: $xx-large;
		}
	}

	@media (max-width: $break-pad) {
		.info .header-infos .more {
			visibility: inherit;
		}
	}

	@media (max-width: $break-phone) {
		height: auto;
		flex-flow: column wrap;
		min-height: 100px;
		.info {
			padding: $padding-sm;
			margin-top: 0;
			width: 100%;
			display: block;
			text-align: center;

			.img {
				margin-right: 0;
				width: 30%;
				display: inline-block;
				height: auto;
			}

			.meta {
				width: 70%;
				display: inline-block;
				text-align: center;
				vertical-align: top;
				padding-left: $padding;

				.name {
					font-size: $x-large;
				}

				.type {
					margin-top: $margin-sm;
				}

				.actions {
					justify-content: center;
				}
			}

			.header-infos {
				width: 100%;
				text-align: center;
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				max-width: 100%;

				.more {
					float: right;
				}

				.label {
					display: inline-block;
					text-align: right;
					font-size: 0.8em;
					width: 50%;
					padding-right: $padding-sm;
				}

				.count {
					padding-left: 0;
					font-size: 0.8em;
					padding-bottom: 0;
					display: inline-block;
					text-align: left;
					width: 50%;
				}
			}
		}
	}

	@media (max-width: $break-watch) {
		.info .meta {
			width: 100%;
		}
	}

	&.slim {
		@include view-header-slim();
	}
}

@mixin view-host {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
