@import "globals.scss";

:host {

	.section {
		margin-bottom: $margin-lg;
	}

	.section-title {
		text-transform: uppercase;
		letter-spacing: 1.25px;
		font-size: $x-small * 1.2;
		margin-bottom: $margin-sm;
		color: var(--on-control-ambient);
	}

	@include key-value-list();

	.value {
		color: var(--on-background-active);
	}

	.track, .labelInfo {
		margin-bottom: $margin-sm;
	}

}
