<div class="view-login">
	<div class="container-login" (submit)="login($event)">
		<div class="login-card">
			<h1>
				<app-logo-icon></app-logo-icon>&nbsp;{{app.name}} <ng-container i18n>Login</ng-container>
			</h1>
			<br>
			<form>
				<ng-container *ngIf="showServer">
					<label><ng-container i18n>Server</ng-container>
						<input type="text" name="server" placeholder="Server" i18n-placeholder [(ngModel)]="credentials.server">
					</label>
				</ng-container>
				<label><ng-container i18n>User</ng-container>
					<input type="text" name="user" placeholder="Username" i18n-placeholder autocomplete="username" [(ngModel)]="credentials.username">
				</label>
				<label><ng-container i18n>Password</ng-container>
					<input type="password" name="pass" placeholder="Password" i18n-placeholder autocomplete="password" [(ngModel)]="credentials.password">
				</label>
				<input type="submit" name="login" class="login-submit" value="login">
			</form>
<!--			<div class="login-help">-->
<!--				<a (click)="passwdReset()">Forgot Password</a>-->
<!--			</div>-->
		</div>
		<div *ngIf="error" class="error">{{error}}</div>
	</div>
</div>
