@import "globals.scss";

:host {
	.genres {
		@include view-host();

		.content {
			@include view-content();

			.genres-list {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: $padding;
				padding: $padding-sm 0;

				@media (max-width: $break-phone) {
					grid-template-columns: 1fr;
					grid-gap: $padding-sm;

				}
				.genre {
					padding: $padding;
					border-width: 1px;
					border-style: solid;
					border-color: var(--background-border);
					cursor: pointer;

					&:hover {
						background-color: var(--background-hover);
					}

					.title {
						color: var(--on-background-active);
					}

					.values {
						font-size: 0.8em;
						.highlight {
							color: var(--on-background-active);
							margin-left: $margin-xs;
							margin-right: $margin-sm;
						}
					}

				}
			}
		}
	}
}
