@import "globals.scss";

:host {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;

	.genres {
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: column;
		overflow: hidden;

		.content {
			width: 100%;
			flex: 1;
			display: flex;
			flex-flow: row nowrap;
			overflow: hidden;
			align-items: flex-start;
			align-content: flex-start;

			.left-content {
				@include cdk-table();
				//flex-grow: 1;
				height: 100%;
				width: 25%;
				//display: block;
				border-right: 1px solid var(--background-border);
				font-size: 0.8em;
				overflow-y: auto;
				overflow-x: auto;

				cdk-table {
					//height: 100%;
					//width: 100%;
					//overflow-y: auto;
					//overflow-x: auto;
					display: block;
				}

				.count {
					max-width: 40px;
				}
			}

			.right-content {
				width: 75%;
				height: 100%;

				app-admin-track-list {
					height: 100%;
					width: 100%;
					overflow-y: auto;
					overflow-x: auto;
					display: block;
				}
			}

			@media (max-width: $break-phone) {
				.right-content, .left-content {
					width: 50%;
				}
			}

		}


	}
}
