@import "globals.scss";

:host {
	.start {
		@include view-host();

		.header-start {
			@include view-header();
			@include view-header-slim();

			.img {
				text-align: center;

				app-logo-icon {
					height: 130px;
					width: 130px;
					@media (max-width: $break-phone) {
						height: 60px;
						width: 60px;
					}
				}
			}
		}

		.content {
			@include view-content();
			padding: 0 $padding $padding-xl;

			.section-title {
				margin-top: $margin;
			}

			.section {
				text-transform: uppercase;
				letter-spacing: 1.25px;
				font-size: $x-small;
				padding-bottom: $padding;
				margin-top: $margin;
			}

			.section-content {
				display: flex;
				flex-flow: row wrap;

				.stats {
					width: 100%;
					background-color: var(--background-box);
					border-radius: 4px;

					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(100px, auto));
					grid-gap: 5px;

					.stat {
						padding: $padding;
						margin-top: $margin;
						text-align: center;
						cursor: pointer;

						.stat-title {
							color: var(--on-background);
							font-size: 0.6em;
							text-transform: uppercase;
							letter-spacing: 0.05em;
						}

						.stat-value {
							color: var(--on-background-active);
							font-size: 2em;
							font-weight: bold;
						}
					}

					@media (max-width: $break-pad) {
						.stat {
							.stat-value {
								font-size: 1.75em;
							}
						}
					}
					@media (max-width: $break-phone) {
						grid-template-columns: repeat(3, 1fr);
						.stat {
							padding: $padding-sm;

							.stat-value {
								font-size: 1.5em;
							}
						}
					}
					@media (max-width: $break-watch) {
						grid-template-columns: repeat(2, 1fr);
					}
				}

				> app-start-section {
					margin-top: $margin;
					width: 50%;
					padding-right: $padding-sm;
					@media (max-width: $break-phone) {
						width: 100%;
					}
				}
			}

		}
	}
}
