@import "globals.scss";

:host {
	.start {
		@include view-host();

		.header-start {
			@include view-header();
			@include view-header-slim();

			.img {
				text-align: center;

				app-logo-icon {
					height: 130px;
					width: 130px;
					@media (max-width: $break-phone) {
						height: 60px;
						width: 60px;
					}
				}
			}
		}

		.content {
			@include view-content();
			padding: 0 $padding $padding-xl;
		}
	}
}
