<div *ngIf="activeCol && editor" class="column-tools">
	<div class="column-tools-title">
		<div class="close-panel"><a class="close" tabindex="0" title="Close" i18n-title (click)="close()" (keydown.enter)="close()"><i aria-hidden="true"></i></a></div>
		<ng-container i18n>Current Column:</ng-container> <span>{{activeCol.def.name}}</span>
	</div>
	<div class="column-tool-content">
		<div *ngIf="activeCol.multi" class="column-tool">
			<ng-container i18n>Column Text</ng-container>
			<div class="input-box">
				<app-tag-editor-autocomplete [getList]="activeCol.getAutoCompleteList" [(value)]="multiStr"></app-tag-editor-autocomplete>
			</div>
			<button i18n class="button-on-background" (click)="editor.setColumnText(activeCol, multiStr)">Set</button>
			<button i18n class="button-on-background" (click)="editor.appendColumnText(activeCol, multiStr)">Append</button>
			<button i18n class="button-on-background" (click)="editor.removeColumnText(activeCol, multiStr)">Remove</button>
		</div>
		<div class="column-tool">
			<ng-container i18n>Column Source</ng-container>
			<div class="input-box">
				<select [(ngModel)]="sourceColumnIndex">
					<option *ngFor="let col of editor.columns; trackBy:trackColumnFn; let i=index;" [value]="i">{{col.def.name}}</option>
				</select>
			</div>
			<button i18n class="button-on-background" (click)="editor.copyColumn(sourceColumnIndex, activeCol)">Copy</button>
			<button i18n class="button-on-background" (click)="editor.appendFromColumn(sourceColumnIndex, activeCol)">Append</button>
			<div class="button-with-add-on button-insert-at">
				<button i18n class="button-on-background" (click)="editor.insertFromColumn(sourceColumnIndex,0, activeCol)">Insert at</button>
				<input type="number">
			</div>
		</div>
		<div *ngFor="let action of activeCol.actions; trackBy: trackByActionFn" class="column-tool">
			{{action.title}}<br/>
			<button class="button-on-background" (click)="action.click()"><i class="icon-down-thin"></i></button>
		</div>
	</div>
</div>
