<div *ngIf="activeCol" class="column-tools">
	<div class="column-tools-title">
		<div class="close-panel"><a (click)="close()" class="close"></a></div>
		Current Column: <span>{{activeCol.def.name}}</span>
	</div>
	<div class="column-tool-content">
		<div class="column-tool" *ngIf="activeCol.multi">
			Set Text
			<div class="input-box">
				<app-tag-editor-autocomplete [(value)]="multiStr" [getList]="activeCol.getAutoCompleteList"></app-tag-editor-autocomplete>
				<i (click)="editor.setColumnText(activeCol, multiStr)" class="icon-down-thin"></i>
			</div>
		</div>
		<div class="column-tool" *ngIf="activeCol.multi">
			Remove Text
			<div class="input-box">
				<input type="text" [(ngModel)]="removeMultiStr">
				<i (click)="editor.removeColumnText(activeCol, removeMultiStr)" class="icon-down-thin"></i>
			</div>
		</div>
		<div class="column-tool">Copy From
			<div class="input-box">
				<select [(ngModel)]="sourceColumnIndex">
					<option *ngFor="let col of editor.columns; let i=index;" [value]="i">{{col.def.name}}</option>
				</select>
				<i (click)="editor.copyColumn(sourceColumnIndex,activeCol)" class="icon-down-thin"></i>
			</div>
		</div>
		<div class="column-tool" *ngFor="let action of activeCol.actions">
			{{action.title}}<br/>
			<button class="button-on-background" (click)="action.click()"><i class="icon-down-thin"></i></button>
		</div>
	</div>
</div>
