@use "_scss/variables";

:host {
	> div {
		margin-left: variables.$margin;
		margin-right: variables.$margin;
	}

	input[type="text"], input[type="email"] {
		width: 100%;
	}

	input {
		line-height: 1.3em;
		padding: variables.$padding-xs;
	}

	.label-pass {
		padding-right: variables.$padding;
		font-size: 0.8em;
	}

	.dummy {
		display: none;
	}

	.user-form-control {
		margin-bottom: 8px;
		display: block;
	}

	.user-form-roles {
		label {
			line-height: 1.5em;
		}

		margin-bottom: 10px;
	}
}
