@use "_scss/variables";
@use "_scss/mixins/cards";

:host {
	padding-top: variables.$padding;

	.section {
		color: var(--on-background-highlight);
		text-transform: uppercase;
		padding-bottom: variables.$padding-sm;
		white-space: nowrap;
		a {
			color: var(--on-background-highlight);
		}
		a:hover {
			color: var(--on-background);
		}
	}

	.front-only-choice {
		float: right;
		font-size: 0.8em;
	}

	.match-images {
		min-height: 200px;
		@include cards.media-cards();

		.image {
			max-width: 200px;
			max-height: 200px;
		}
	}
}
