@import "src/style/globals";

:host {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;

	.tracks {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		.actions {
			padding: $padding-sm $padding;
			border-bottom-color: var(--background-border);
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		app-admin-track-list {
			overflow-y: auto;
		}
	}
}
