@import "globals";

:host {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;

	.tracks {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		.actions {
			@include action-buttons();
		}

		app-admin-track-list {
			overflow-y: auto;
		}
	}
}
