@use "_scss/variables";
@use "_scss/mixins/button";

:host {
	height: 100%;
	width: 100%;

	.health {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;

		.actions {
			@include button.action-buttons();
		}

		.health-content {
			padding: variables.$padding;
			overflow-y: auto;
			overflow-x: auto;
		}

		.folder {
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: var(--background-border);
			padding: variables.$padding;
			display: flex;
			flex-flow: row wrap;
			flex-flow: row nowrap;

			.meta {
				width: 30%;
				padding-right: variables.$padding;
				margin-left: variables.$margin;
				display: flex;
				flex-flow: column wrap;
				position: relative;

				> div {
					width: 100%;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				.type {
					text-transform: uppercase;
				}

				.type, .year, .state {
					letter-spacing: 1px;
					font-size: 0.8em;
				}

				.name {
					font-size: variables.$x-large;
					font-weight: 100;
					color: var(--on-background-highlight);

					a {
						color: var(--on-background-highlight);

						&:hover {
							color: var(--on-background);
						}
					}
				}

				.description {
					font-size: variables.$small;
					line-height: 1.2em;
				}

				.actions {
					margin-top: auto;

					button {
						margin-bottom: variables.$margin-xs;
						margin-right: variables.$margin-xs;
						height: 27px;

						font-weight: 500;
						padding: 1px variables.$padding 0;

						i {
							transform: scale(1.3);
							transform-origin: center;
						}
					}

					a {
						user-select: none;
						border: 1px solid transparent;
						padding: 4px 9px 7px;
						border-radius: 50%;
						display: none;
						position: absolute;
						right: 1px;
						bottom: 0;

						&:hover {
							background-color: var(--control-hover);
							color: var(--on-background-hover);
						}
					}
				}

				&:hover {
					.actions a, app-fav-icon {
						display: inline;
					}
				}
			}

			.folder-health {
				display: flex;
				width: 70%;
			}
			@media (max-width: variables.$break-mobile) {
				padding-left: 0;
				padding-right: 0;
				.meta {
					font-size: 0.8em;

					.name {
						font-size: variables.$medium;
					}
				}
			}

		}
	}
}
