<div class="health">
	<div class="actions">
		<button class="button-on-control" title="Refresh List" (click)="refresh()"><i class="icon-reload"></i></button>
		<select *ngIf="modes.length>0" [(ngModel)]="filter" placeholder="Type of Hints" (ngModelChange)="onFilterChange()">
			<option *ngFor="let m of modes" [value]="m">{{m}}</option>
		</select>
	</div>
	<div class="health-content">
		<app-loading *ngIf="!hints"></app-loading>
		<app-background-text-list [list]="hints" name="Folder Health Issues"></app-background-text-list>
		<div *ngFor="let folderHealth of hints" class="folder">
			<div class="meta">
				<a [routerLink]="['/admin/folder',folderHealth.folder.id,'overview']">
					<ng-container [ngSwitch]="folderHealth.folder.type">
						<ng-container *ngSwitchCase="'multialbum'">
							<div class="type">Album</div>
							<div class="name">{{folderHealth.folder.tag.album}}</div>
							<div class="artist">{{folderHealth.folder.tag.artist}}</div>
							<div class="year">{{folderHealth.folder.tag.year}}</div>
						</ng-container>
						<ng-container *ngSwitchCase="'album'">
							<div class="type">Album</div>
							<div class="name">{{folderHealth.folder.tag.album}}</div>
							<div class="artist">{{folderHealth.folder.tag.artist}}</div>
							<div class="year">{{folderHealth.folder.tag.year}}</div>
						</ng-container>
						<ng-container *ngSwitchCase="'artist'">
							<div class="type">Artist</div>
							<div class="name">{{folderHealth.folder.tag.artist}}</div>
						</ng-container>
						<ng-container *ngSwitchCase="'collection'">
							<div class="type">Collection</div>
							<div class="name">{{folderHealth.folder.name}}</div>
						</ng-container>
						<ng-container *ngSwitchDefault>
							<div class="name">{{folderHealth.folder.name}}</div>
						</ng-container>
					</ng-container>
				</a>
			</div>
			<div class="folder-health">
				<app-folder-health [folderHealth]="folderHealth"></app-folder-health>
			</div>
		</div>
	</div>
</div>
