<div class="album" *ngIf="album">
	<div class="header slim">
		<div class="info">
			<div class="img">
				<app-coverart-image [coverArtObj]="album" [size]="150" [fill]="true" [alt]="album.name"></app-coverart-image>
			</div>
			<div class="meta">
				<div class="type">Album</div>
				<div class="name">{{album.name}}</div>
				<div class="actions">
					<button class="button-on-control" title="Refresh Album" (click)="refresh()"><i class="icon-reload"></i> Refresh</button>
				</div>
			</div>
			<div class="listeners" *ngIf="album.tag">
				<div><span class="label">Artist:</span>&nbsp;<a [routerLink]="['/admin/artist/'+album.artistID]">{{album.artist}}</a></div>
				<div *ngIf="album.tag.year"><span class="label">Year:</span> {{album.tag.year}}</div>
				<div *ngIf="album.tag.genre"><span class="label">Genre:</span> {{album.tag.genre}}</div>
				<div *ngIf="album.tag.duration"><span class="label">Duration:</span> {{album.tag.duration | duration}}</div>
				<div *ngIf="album.trackCount"><span class="label">Tracks:</span> {{album.trackCount}}</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="info-content" *ngIf="album.info">
			<app-info-note [info]="album.info"></app-info-note>
		</div>
		<app-admin-track-list [tracks]="album.tracks"></app-admin-track-list>
	</div>
</div>
