<ul class="tabs" *ngIf="tabs && tabs.length>1" [class.mini]="smallTabs" listRole="tablist" appFocusKeyList>
	<li *ngFor="let tab of tabs">
		<a *ngIf="tab.link" [routerLink]="[tab.link.route]" [routerLinkActiveOptions]="{exact:!!tab.link.exact}" routerLinkActive="active" appFocusKeyListItem listRole="tab"><a>{{tab.label}}</a></a>
		<a *ngIf="!tab.link" [class.active]="tab.active" (click)="tab.click()" (keydown.enter)="tab.click()" appFocusKeyListItem listRole="tab"><a>{{tab.label}}</a></a>
	</li>
</ul>
