@if (tabs && tabs.length>1) {
  <ul class="tabs" listRole="tablist" i18n-listRole appFocusKeyList [class.mini]="smallTabs">
    @for (tab of tabs; track tab) {
      <li>
        @if (tab.link) {
          <a routerLinkActive="active" appFocusKeyListItem listRole="tab" i18n-listRole [routerLink]="[tab.link.route]" [routerLinkActiveOptions]="{exact:!!tab.link.exact}"><a>{{tab.label}}</a></a>
        }
        @if (!tab.link) {
          <a appFocusKeyListItem listRole="tab" i18n-listRole [class.active]="tab.active" (click)="tab.click()" (keydown.enter)="tab.click()"><a>{{tab.label}}</a></a>
        }
      </li>
    }
  </ul>
}
