<div class="sandwich" (click)="toggleMobileNavig()" title="Navigation Menu"><i class="icon-menu"></i></div>
<div class="back" (click)="back()" *ngIf="app.standalone" title="Go back"><i class="icon-left-bold"></i></div>
<div class="logo" title="Go to Start"><a [routerLink]="['/library']">
	<app-logo-icon></app-logo-icon>
	{{app.name}}</a></div>
<app-search-box class="search"></app-search-box>
<div class="user" title="User Menu" *ngIf="auth.user && auth.user.name" (click)="onUserContextMenu($event)">
	<app-coverart-image [coverArtObj]="auth.user" [size]="28" [round]="true"></app-coverart-image>
</div>

