@import "globals.scss";

:host {

	.item {
		color: var(--on-control);
		padding: $padding-xs 0;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		border-right-width: 3px;
		border-right-style: solid;
		border-right-color: transparent;
		transition: all .1s ease-in-out;
		transform-origin: left center;

		app-coverart-image {
			margin-right: 6px;
		}

		i {
			width: 25px;
			display: block;
		}

		&:hover {
			color: var(--on-control-hover);
			border-right-color: var(--primary);
		}

		&:focus {
			border-right-color: var(--secondary);
		}

		&.active {
			color: var(--on-control-active);
			transform: scale(1.1);
		}
	}

	@media (max-width: $break-pad) {
		.item {
			line-height: 1.5em;

			&:hover {
				border-right-width: 0;
			}
		}
	}
}
