<div class="player-top-view" *ngIf="player.currentTrack" (contextmenu)="onContextMenu($event, player.currentTrack)">
	<div class="track-plate">
		<div class="art">
			<app-coverart-image [coverArtObj]="player.currentTrack" [size]="135" [alt]="player.currentTrack.name"></app-coverart-image>
		</div>
		<div class="meta">
			<app-fav-icon (click)="actions.toggleMediaBaseFav(player.currentTrack)" (keydown.enter)="actions.toggleMediaBaseFav(player.currentTrack)"
										[faved]="player.currentTrack.state?.faved" tabindex="0"></app-fav-icon>
			<div class="year">{{player.currentTrack.tag?.year}}</div>
			<a class="name" (click)="navig.toTrack(player.currentTrack)" (keydown.enter)="navig.toTrack(player.currentTrack)"
				 tabindex="0"><a>{{player.currentTrack.tag?.title}}</a></a>
			<a class="album" (click)="navig.toMediaAlbum(player.currentTrack)" (keydown.enter)="navig.toMediaAlbum(player.currentTrack)"
				 tabindex="0"><a>{{player.currentTrack.tag?.album}}</a></a>
			<a class="artist" (click)="navig.toMediaArtist(player.currentTrack)" (keydown.enter)="navig.toMediaArtist(player.currentTrack)"
				 tabindex="0"><a>{{player.currentTrack.tag?.artist}}</a></a>
			<div class="actions">
				<a class="more" (click)="onContextMenu($event, player.currentTrack)" (keydown.enter)="onContextMenu($event, player.currentTrack)" tabindex="0" title="Menu">…</a>
			</div>
		</div>
	</div>
	<app-lyrics [trackID]="player.currentTrack.id"></app-lyrics>
</div>
<div class="player-top-view" *ngIf="player.currentEpisode">
	<div class="track-plate">
		<div class="art">
			<app-coverart-image [coverArtObj]="player.currentEpisode" [size]="135" [alt]="player.currentEpisode.name"></app-coverart-image>
		</div>
		<div class="meta">
			<app-fav-icon (click)="actions.toggleMediaBaseFav(player.currentEpisode)"
										(keydown.enter)="actions.toggleMediaBaseFav(player.currentEpisode)"
										[faved]="player.currentEpisode.state?.faved" tabindex="0"></app-fav-icon>
			<div class="year">{{player.currentEpisode.date | date}}</div>
			<a class="name"
				 (click)="navig.toPodcastEpisode(player.currentEpisode)"
				 (keydown.enter)="navig.toPodcastEpisode(player.currentEpisode)"
				 tabindex="0">{{player.currentEpisode.tag ? player.currentEpisode.tag.title : player.currentEpisode.name}}</a>
			<a class="album"
				 (click)="navig.toPodcastID(player.currentEpisode.podcastID, player.currentEpisode.podcastName)"
				 (keydown.enter)="navig.toPodcastID(player.currentEpisode.podcastID, player.currentEpisode.podcastName)"
				 tabindex="0">{{player.currentEpisode.podcast}}</a>
			<div class="artist">{{player.currentEpisode.author}}</div>
			<div class="actions"></div>
		</div>
	</div>
	<div class="description" *ngIf="player.currentEpisode.summary">
		<div class="note">{{player.currentEpisode.summary}}</div>
	</div>
	<app-chapters *ngIf="player.currentEpisode && player.currentEpisode.chapters" [episode]="player.currentEpisode"></app-chapters>
</div>
