<div class="player-top-view" *ngIf="player.currentTrack" (contextmenu)="onContextMenu($event, player.currentTrack)">
	<div class="track-plate">
		<div class="art">
			<app-coverart-image [coverArtObj]="player.currentTrack" [size]="135" [alt]="player.currentTrack.name"></app-coverart-image>
		</div>
		<div class="meta">
			<app-fav-icon (click)="actions.toggleMediaBaseFav(player.currentTrack)" [faved]="player.currentTrack.state?.faved"></app-fav-icon>
			<div class="year">{{player.currentTrack.tag?.year}}</div>
			<div class="name" (click)="navig.toTrack(player.currentTrack)"><a>{{player.currentTrack.tag?.title}}</a></div>
			<div class="album" (click)="navig.toMediaAlbum(player.currentTrack)"><a>{{player.currentTrack.tag?.album}}</a></div>
			<div class="artist" (click)="navig.toMediaArtist(player.currentTrack)"><a>{{player.currentTrack.tag?.artist}}</a></div>
			<div class="actions">
				<a class="more" (click)="onContextMenu($event, player.currentTrack)">…</a>
			</div>
		</div>
	</div>
	<app-lyrics [trackID]="player.currentTrack.id"></app-lyrics>
</div>
<div class="player-top-view" *ngIf="player.currentEpisode">
	<div class="track-plate">
		<div class="art">
			<app-coverart-image [coverArtObj]="player.currentEpisode" [size]="135" [alt]="player.currentEpisode.name"></app-coverart-image>
		</div>
		<div class="meta">
			<app-fav-icon [faved]="player.currentEpisode.state?.faved"></app-fav-icon>
			<div class="year">{{player.currentEpisode.date | date}}</div>
			<div class="name" (click)="navig.toPodcastEpisode(player.currentEpisode)"><a>{{player.currentEpisode.tag ? player.currentEpisode.tag.title : player.currentEpisode.name}}</a></div>
			<div class="album" (click)="navig.toPodcastID(player.currentEpisode.podcastID, player.currentEpisode.podcastName)"><a>{{player.currentEpisode.podcast}}</a></div>
			<div class="artist">{{player.currentEpisode.author}}</div>
			<div class="actions"></div>
		</div>
	</div>
	<div class="description" *ngIf="player.currentEpisode.summary">
		<div class="note">{{player.currentEpisode.summary}}</div>
	</div>
	<app-chapters *ngIf="player.currentEpisode && player.currentEpisode.chapters" [episode]="player.currentEpisode"></app-chapters>
</div>
