@import "globals.scss";

:host {
	width: 100%;
	display: block;
	text-align: center;

	image-cropper {
		width: 300px;
		display: block;
	}

	.image-crop {
		display: inline-block;
		text-align: center;
		margin-left: $margin-sm;
		margin-right: $margin-sm;
	}

	.image-preview {
		margin-left: $margin-sm;
		margin-right: $margin-sm;
		display: inline-block;

		img {
			width: 300px;
		}
	}

	//.artwork {
	//	display: inline-block;
	//	padding-top: $padding;
	//	padding-right: $padding;
	//	font-size: 0.8em;
	//	text-align: center;
	//}
	//.artwork-types {
	//}
	//.delete-button {
	//	user-select: none;
	//}
}
