<div class="image-crop">
	<label>
		<input type="checkbox" [(ngModel)]="maintainAspectRatio" [checked]="maintainAspectRatio"> Maintain Aspect Ratio
	</label>
	<image-cropper *ngIf="imageBase64"
								 [imageBase64]="imageBase64"
								 [format]="'jpeg'"
								 [maintainAspectRatio]="maintainAspectRatio"
								 (imageCropped)="imageCropped($event)"
								 (imageLoaded)="imageLoaded()"
								 (cropperReady)="cropperReady()"
								 (loadImageFailed)="loadImageFailed()"
	></image-cropper>
</div>
<div class="image-preview" *ngIf="croppedImage">
	<img [src]="croppedImage">
</div>
<div class="buttons">
	<!--		<button class="button-on-control" *ngIf="isWorking"><i class="icon-spin icon-spinner"></i></button>-->
	<button class="button-on-control" (click)="upload()">Use Cropped Artwork</button>
</div>
