@use "_scss/variables";

:host {
	label {
		display: block;
		margin-bottom: variables.$margin-sm;

		span {
			font-weight: bold;
		}
	}

	.dummy {
		display: none;
	}

	input {
		line-height: 1.3em;
		padding: variables.$padding-xs;
		width: 100%;
		margin-bottom: variables.$margin;
	}
}
