@import "globals.scss";

:host {
	.drop-zone {
		margin: 10px 20px;
		border-width: 2px;
		border-style: dotted;
		border-color: var(--secondary);
		height: 80%;
	}

	input[type="text"] {
		width: 100%;
	}

}
