<div class="overlay-content">
	<div class="overlay-title">{{ config.title }}</div>
	<div class="close-panel">
		<a (click)="close()" class="close"></a>
	</div>
	<div class="overlay-body">
		<ng-container #overlayDialogBody></ng-container>
	</div>
	<ng-container *ngIf="config.onOkBtn || config.onCancelBtn">
		<div class="overlay-buttons" [class.disabled]="isBusy">
			<a class="ok" *ngIf="config.onOkBtn" (click)="ok()">OK</a>
			<a class="cancel" *ngIf="config.onCancelBtn" (click)="cancel()">Cancel</a>
		</div>
	</ng-container>
</div>
