<div class="drop-zone" (drop)="onDropFile($event)" (dragover)="onDragOverFile($event)">
  <div i18n class="placeholder">
    Drag an Image File here
  </div>
  <app-coverart-image [coverArtObj]="auth.user" [size]="100" [round]="true" [refreshRandom]="refreshRandom" />
  <button class="button-primary" (click)="randomAvatar()">
    @if (refreshing) {
      <i class="icon-spin icon-spinner"></i>
    } @else {
      <span i18n>Random Image</span>
    }
  </button>
  <form>
    <input id="file" class="inputfile" type="file" placeholder="Upload image" i18n-placeholder accept=".png,.jpeg,.jpg" (change)="selectFile($event)">
    <label i18n class="button-primary" for="file">Choose a file</label>
  </form>
</div>
