<div class="drop-zone" (drop)="onDropFile($event)" (dragover)="onDragOverFile($event)">
	<div class="placeholder">
		Drag an Image File here
	</div>
	<app-coverart-image [coverArtObj]="auth.user" [size]="100" [round]="true" [refreshRandom]="refreshRandom"></app-coverart-image>
	<button class="button-primary" (click)="randomAvatar()">
		<i *ngIf="refreshing" class="icon-spin icon-spinner"></i>
		<span *ngIf="!refreshing">Random Image</span>
	</button>
	<form>
		<input id="file" class="inputfile" type="file" placeholder="Upload image" accept=".png,.jpeg,.jpg" (change)="selectFile($event)">
		<label class="button-primary" for="file">Choose a file</label>
	</form>
</div>
