<div class="settings">
  <app-view-header-slim section="Settings" i18n-section />
  <div class="content">
    <div i18n class="section-title">Design</div>
    <div>
      <fieldset>
        @for (theme of themes; track theme.name) {
          <label class="select"><input type="radio" name="theme" [value]="theme.name" [(ngModel)]="app.settings.theme" (ngModelChange)="onChange()">{{theme.name | titlecase}}</label>
        }
      </fieldset>
    </div>
    <div i18n class="section-title">Player</div>
    <label>
      <input type="checkbox" [(ngModel)]="app.settings.showWaveform" (ngModelChange)="onChange()"/>
      <ng-container i18n>Show Waveform of Current Track</ng-container>
    </label>
    <div i18n class="section-title">Playing</div>
    <label>
      <input type="checkbox" value="1" [(ngModel)]="app.settings.playingTrackInTitle" (ngModelChange)="onChange()"/>
      <ng-container i18n>Show Playing Track Name in Window Title</ng-container>
    </label>
    <label>
      <input type="checkbox" value="1" [(ngModel)]="app.settings.notificationSong" (ngModelChange)="onChange()"/>
      <ng-container i18n>Show Notification Popup On Track Change</ng-container>
    </label>
  </div>
</div>
