@if (!hints) {
  <div class="hints">
    <div class="hint">
      <i class="icon-spin icon-spinner"></i>
    </div>
  </div>
}
@if (hints) {
  <div class="hints">
    @if (hints.length===0) {
      <div i18n class="hint">No Hints</div>
    }
    @for (hint of hints; track trackByFn($index, hint)) {
      <div class="hint">
        <i class="icon-warning"></i> {{hint.hint.name}}
        @for (detail of hint.details; track trackByDetailFn($index, detail)) {
          <div class="details">{{detail}}</div>
        }
      </div>
    }
    <div class="solutions">
      @for (sol of solutions; track trackBySolutionFn($index, sol)) {
        <button class="button-on-background" (click)="sol.click()">
          @if (sol.running) {
            <i class="icon-spin icon-spinner"></i>
          }
          @if (!sol.running) {
            {{sol.name}}
          }
        </button>
      }
    </div>
  </div>
}
