<div *ngIf="!hints" class="hints">
	<div class="hint">
		<i class="icon-spin icon-spinner"></i>
	</div>
</div>
<div *ngIf="hints" class="hints">
	<div *ngIf="hints.length===0" class="hint">No Hints</div>
	<div *ngFor="let hint of hints; trackBy: trackByFn"class="hint">
		<i class="icon-warning"></i> {{hint.hint.name}}
		<div *ngFor="let detail of hint.details" class="details">{{detail}}</div>
	</div>
	<div class="solutions">
		<button *ngFor="let sol of solutions" class="button-on-background" (click)="sol.click()">
			<i *ngIf="sol.running" class="icon-spin icon-spinner"></i>
			<ng-container *ngIf="!sol.running">{{sol.name}}</ng-container>
		</button>
	</div>
</div>
