@use "_scss/variables";

:host {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	display: block;

	.icon-warning {
		color: var(--accent);
	}

	.details {
		padding-left: 28px;
		font-size: 0.8em;
		display: block;
		padding-top: variables.$padding-xs;
	}

	.hint {
		padding-bottom: variables.$padding;
	}

	.solutions {
		padding-bottom: variables.$padding;

		button {
			margin-right: variables.$margin-xs;
		}
	}

	.detail {
		span {
			text-transform: uppercase;
			letter-spacing: 1.25px;
			font-size: variables.$x-small;
			min-width: 80px;
			margin-right: variables.$margin-sm;
			display: inline-block;
		}
	}
}
