@if (trackHealth) {
  @if (!(trackHealth.health && hints)) {
    <div class="hints">
      <div class="hint">
        <i class="icon-spin icon-spinner"></i>
      </div>
    </div>
  }
  @if (trackHealth.health && hints) {
    <div class="hints">
      @if (hints.length===0) {
        <div i18n class="hint">No Hints</div>
      }
      @for (hint of hints; track hint.hint.id) {
        <div class="hint">
          <i class="icon-warning"></i> {{hint.hint.name}}
          <div class="details">{{hint.description}}</div>
        </div>
      }
      <div class="solutions">
        @for (sol of solutions; track sol.name) {
          <button class="button-on-background" (click)="sol.click()">
            @if (sol.running) {
              <i class="icon-spin icon-spinner"></i>
            }
            @if (!sol.running) {
              {{sol.name}}
            }
          </button>
        }
      </div>
    </div>
  }
}
