<ng-container *ngIf="trackHealth">
	<div *ngIf="!(trackHealth.health && hints)" class="hints">
		<div class="hint">
			<i class="icon-spin icon-spinner"></i>
		</div>
	</div>
	<div *ngIf="trackHealth.health && hints" class="hints">
		<div i18n *ngIf="hints.length===0" class="hint">No Hints</div>
		<div *ngFor="let hint of hints; trackBy: trackByHintFn" class="hint">
			<i class="icon-warning"></i> {{hint.hint.name}}
			<div class="details">{{hint.description}}</div>
		</div>
		<div class="solutions">
			<button *ngFor="let sol of solutions; trackBy: trackBySolutionFn" class="button-on-background" (click)="sol.click()">
				<i *ngIf="sol.running" class="icon-spin icon-spinner"></i>
				<ng-container *ngIf="!sol.running">{{sol.name}}</ng-container>
			</button>
		</div>
	</div>
</ng-container>
