@import "globals.scss";

:host {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	display: block;

	.users {
		@include view();

		.content {
			@include cdk-table();

			.icon-checkmark {
				color: var(--primary);
			}

			.id {
				max-width: 80px;
			}

			.role {
				text-align: center;
				max-width: 80px;

				span {
					width: 100%;
				}
			}

			.actions {
				font-size: $small;
				max-width: 120px;

				a {
					margin-right: $margin-sm;
				}
			}
		}
	}
}
