<div class="users">
	<div class="toolbar">
		<span>Users</span>
		<button class="button-on-control" title="Add new User" (click)="newUser()"><i class="icon-list-add"></i> Add</button>
		<button class="button-on-control" title="Refresh List" (click)="refresh()"><i class="icon-reload"></i> Refresh</button>
	</div>
	<div class="content">
		<cdk-table *ngIf="dataSource" [dataSource]="dataSource">
			<ng-container cdkColumnDef="id">
				<cdk-header-cell [ngClass]="'id'" *cdkHeaderCellDef>Avatar</cdk-header-cell>
				<cdk-cell [ngClass]="'id'" *cdkCellDef="let user" data-label="Avatar">
					<app-coverart-image [coverArtObj]="user" [alt]="user.name" [size]="28" [round]="true"></app-coverart-image>
				</cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="name">
				<cdk-header-cell [ngClass]="'name'" *cdkHeaderCellDef>Name</cdk-header-cell>
				<cdk-cell [ngClass]="'name'" *cdkCellDef="let user" data-label="Name"> {{user.name}}</cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="email">
				<cdk-header-cell *cdkHeaderCellDef>Email</cdk-header-cell>
				<cdk-cell *cdkCellDef="let user" data-label="Email">{{user.email}}</cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="roleAdmin">
				<cdk-header-cell [ngClass]="'role'" *cdkHeaderCellDef>Administrator</cdk-header-cell>
				<cdk-cell [ngClass]="'role'" *cdkCellDef="let user" data-label="Administrator"><span><i *ngIf="user.roles.admin" class="icon-checkmark"></i></span></cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="rolePodcast">
				<cdk-header-cell [ngClass]="'role'" *cdkHeaderCellDef>Manage Podcasts</cdk-header-cell>
				<cdk-cell [ngClass]="'role'" *cdkCellDef="let user" data-label="Manage Podcasts"><span><i *ngIf="user.roles.podcast" class="icon-checkmark"></i></span></cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="roleUpload">
				<cdk-header-cell [ngClass]="'role'" *cdkHeaderCellDef>Can Upload</cdk-header-cell>
				<cdk-cell [ngClass]="'role'" *cdkCellDef="let user" data-label="Can Upload"><span><i *ngIf="user.roles.upload" class="icon-checkmark"></i></span></cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="roleStream">
				<cdk-header-cell [ngClass]="'role'" *cdkHeaderCellDef>Can Stream</cdk-header-cell>
				<cdk-cell [ngClass]="'role'" *cdkCellDef="let user" data-label="Can Stream"><span><i *ngIf="user.roles.stream" class="icon-checkmark"></i></span></cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="actions">
				<cdk-header-cell [ngClass]="'actions'" *cdkHeaderCellDef>Actions</cdk-header-cell>
				<cdk-cell [ngClass]="'actions'" *cdkCellDef="let user" data-label="Actions">
					<a title="Change Avatar" (click)="editUserAvatar(user)"><i class="icon-picture"></i></a>
					<a title="Set Password" (click)="setUserPassword(user)"><i class="icon-key"></i></a>
					<a title="Edit User" (click)="editUser(user)"><i class="icon-edit"></i></a>
					<a title="Delete User" (click)="deleteUser(user)"><i class="icon-remove"></i></a>
				</cdk-cell>
			</ng-container>
			<cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
			<cdk-row cdk-row (dblclick)="editUser(row)" *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>
		</cdk-table>
	</div>
</div>
