<div class="settings">
	<app-view-header-slim section="Admin Settings">
		<button class="button-on-control" title="Save" (click)="save()"><i class="icon-floppy"></i> Save Settings</button>
	</app-view-header-slim>
	<div class="content">
		<app-loading *ngIf="!settings"></app-loading>
		<ng-container *ngIf="settings">
			<div>
				<div class="section-title">Server</div>
				<div class="section-entry">
					<label>
						<input type="checkbox" title="Scan all Roots on Server Start" [(ngModel)]="settings.library.scanAtStart" (ngModelChange)="onChange()"/>
						Scan all Roots on Server Start
					</label>
				</div>
			</div>
			<div>
				<div class="section-title">External Services</div>
				<div class="section-entry">
					<label>
						<input type="checkbox" title="Allow Request to External Services" [(ngModel)]="settings.externalServices.enabled" (ngModelChange)="onChange()"/>
						Allow Request to External Services
					</label>
				</div>
			</div>
			<div>
				<div class="section-title">Chat</div>
				<div class="section-entry">
					<label for="max_messages">Maximum Number of Messages</label>
					<input id="max_messages" type="number" [(ngModel)]="settings.chat.maxMessages" (ngModelChange)="onChange()"/>
				</div>
				<div class="section-entry">
					<div class="chat-max-age">
						<label for="max_age">Maximum Age of Message</label>
						<input id="max_age" type="number" [(ngModel)]="settings.chat.maxAge.value" (ngModelChange)="onChange()"/>
					</div>
					<select placeholder="Unit of Age" [(ngModel)]="settings.chat.maxAge.unit" (ngModelChange)="onChange()">
						<option [value]="'year'">year</option>
						<option [value]="'years'">years</option>
						<option [value]="'month'">month</option>
						<option [value]="'months'">months</option>
						<option [value]="'day'">day</option>
						<option [value]="'days'">days</option>
						<option [value]="'minute'">minute</option>
						<option [value]="'minutes'">minutes</option>
						<option [value]="'second'">second</option>
						<option [value]="'seconds'">seconds</option>
					</select>
				</div>
			</div>
			<div>
				<div class="section-title">Artist Index</div>
				<div class="section-entry">
					<label for="ignore_articles">Ignored Articles in Artist Names</label>
					<textarea id="ignore_articles" rows="10" cols="20" [(ngModel)]="ignoreArticles" (ngModelChange)="onChange()"></textarea>
				</div>
			</div>
		</ng-container>
	</div>
</div>
