<div class="art" (appDeferLoad)="gotInView()">
	<app-coverart-image *ngIf="visible" [coverArtObj]="base" [size]="135" [alt]="base.name" (click)="goTo()" appClickStop></app-coverart-image>
</div>
<div class="meta">
	<app-fav-icon [state]="base.state" (click)="toggleFav()" appClickStop></app-fav-icon>
	<div class="year">{{mediaYear}}</div>
	<div *ngIf="mediaParent" class="artist"><a (click)="goToParent()" appClickStop>{{mediaParent}}</a></div>
	<div class="name"><a (click)="goTo()" appClickStop>{{mediaName}}</a></div>
	<div class="type">{{mediaType}}</div>
	<div class="actions">
		<button class="button-primary" (click)="play()" appClickStop><i class="icon-play"></i> Play</button>
		<a (click)="contextmenuEvent($event)" appClickStop>…</a>
	</div>
</div>
