<div class="roots">
	<app-view-header-slim section="Roots">
		<button class="button-on-control" title="Refresh List" (click)="refresh()"><i class="icon-reload"></i> Refresh</button>
		<button class="button-on-control" title="Add new Root" (click)="newRoot()"><i class="icon-list-add"></i> Add</button>
		<button class="button-on-control" title="Rescan Roots" (click)="rescan()"><i class="icon-rescan"></i> Rescan</button>
	</app-view-header-slim>
	<div class="content">
		<cdk-table *ngIf="dataSource" [dataSource]="dataSource">
			<ng-container cdkColumnDef="name">
				<cdk-header-cell [ngClass]="'name'" *cdkHeaderCellDef>Name</cdk-header-cell>
				<cdk-cell [ngClass]="'name'" *cdkCellDef="let root" data-label="Name"> {{root.name}}</cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="path">
				<cdk-header-cell [ngClass]="'path'" *cdkHeaderCellDef>Path</cdk-header-cell>
				<cdk-cell [ngClass]="'path'" *cdkCellDef="let root" data-label="Path">{{root.path}}</cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="strategy">
				<cdk-header-cell [ngClass]="'strategy'" *cdkHeaderCellDef>Strategy</cdk-header-cell>
				<cdk-cell [ngClass]="'strategy'" *cdkCellDef="let root" data-label="Strategy">{{root.strategy}}</cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="status">
				<cdk-header-cell [ngClass]="'status'" *cdkHeaderCellDef>Status</cdk-header-cell>
				<cdk-cell [ngClass]="'status'" *cdkCellDef="let root" data-label="Status">
					<span *ngIf="!root.status">Not scanned</span>
					<span *ngIf="root.status && root.status.error" class="error">Error:<br>{{root.status.error}}</span>
					<span *ngIf="root.status && !root.status.error">
						<ng-container *ngIf="root.status.scanning">Scanning…</ng-container>
						<ng-container *ngIf="!root.status.scanning">Last Scan:<br>{{root.status.lastScan | date:'medium'}}</ng-container>
					</span>
				</cdk-cell>
			</ng-container>
			<ng-container cdkColumnDef="actions">
				<cdk-header-cell [ngClass]="'actions'" *cdkHeaderCellDef>Actions</cdk-header-cell>
				<cdk-cell [ngClass]="'actions'" *cdkCellDef="let root" data-label="Actions">
					<a title="Rescan Root" (click)="rescanRoot(root)" appClickStop><i class="icon-rescan"></i></a>
					<a title="Edit Root" (click)="editRoot(root)" appClickStop><i class="icon-edit"></i></a>
					<a title="Delete Root" (click)="deleteRoot(root)" appClickStop><i class="icon-remove"></i></a>
				</cdk-cell>
			</ng-container>
			<cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
			<cdk-row cdk-row (dblclick)="editRoot(row)" *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>
		</cdk-table>
	</div>
</div>

