name: test

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags:
      - '!**'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-test-${{ hashFiles('**/package-lock.json') }}
      - run: npm install
      - run: npm run test
